{layout name="public:simple" /}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15>

                    <!-- <div class="layui-tab"> -->
                    <!-- <div class="layui-tab layui-tab-card"> -->
                    <div class="layui-tab layui-tab-brief" lay-filter="tabFilter">
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <!-- 检索 -->
                                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                                    <div class="layui-form-item">

                                        <div class="layui-inline">
                                            <label class="layui-form-label">{$Think.lang.BizType}</label>
                                            <div class="layui-input-inline">
                                                <select name="biz_type"  lay-reqText="Please Select Biz Type" lay-search>
                                                    <option value="">{$Think.lang.PleaseSelect}</option>
                                                    {foreach $biz_type as $key=>$value}
                                                    <option value="{$value.id}" >{$value.text}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">{$Think.lang.Student}</label>
                                            <div class="layui-input-inline">
                                                <select name="custom_uid"  lay-reqText="Please Select Category" lay-search>
                                                    <option value="">{$Think.lang.PleaseSelect}</option>
                                                    {foreach $student_list as $key=>$value}
                                                    <option value="{$value.id}" >{$value.name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">{$Think.lang.CreateTime}:</label>
                                            <div class="layui-input-inline">
                                                <input type="text" class="layui-input" id="create_time" name="create_time"
                                                       autocomplete="off" placeholder="operation time" value="{$time|default=''}">
                                            </div>
                                        </div>

                                        <div class="layui-inline" wid120>
                                            <button class="layui-btn layuiadmin-btn-forum-list" lay-submit
                                                    lay-filter="LAY-app-contlist-search">
                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 表格 -->
                                <div class="table-cell-auto">
                                    <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="barAction">
    <a class="layui-btn layui-btn-xs" lay-event="edit" lay-text="编辑" lay-data="{{d.id}}">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" lay-text="删除" lay-data="{{d.id}}">删除</a>
</script>


<script src="__YUN_PUBLIC_DIR__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__YUN_PUBLIC_DIR__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        // , ssqselect: 'temp/ssq-select/ssqselect'
    }).use([ 'index', 'form', 'table', 'element', 'admin', 'laydate'], function () {    //'ssqselect',
        var $ = layui.$;
        var table = layui.table,
            form = layui.form,
            admin = layui.admin,
            element = layui.element;
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#create_time',//指定元素
            range: '~'
        });
        laydate.render({
            elem: '#day',//指定元素
            range: '~'
        });
        //表格数据
        table.render({
            elem: '#dataTable'
            , url: '{:url("ajaxList")}'
            // , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            // , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            //     title: '提示'
            //     , layEvent: 'LAYTABLE_TIPS'
            //     , icon: 'layui-icon-tips'
            // }]
            , title: 'Detail List'
            , cols: [[
                {field: 'id', title: 'ID', unresize: true, sort: true, width: 60},
                {field: 'student_name', title: '{$Think.lang.Student}', minWidth: 220,},
                {field: 'before_amount', unresize: true,title: '{$Think.lang.Before}', width: 80,},
                {field: 'change_amount', unresize: true,title: '{$Think.lang.ValueNum}', width: 80,},
                {field: 'after_amount', unresize: true,title: '{$Think.lang.After}', width: 80,},
                {field: 'biz_type_text', title: '{$Think.lang.BizType}', minWidth: 160,},
                {field: 'action_text', title: '{$Think.lang.ActionText}', minWidth: 160,},
                {field: 'remark', title: '{$Think.lang.Remark}', minWidth: 400,},
                {field: 'create_time', title: '{$Think.lang.AppointmentTime}', width: 160,},
                // {title: '{$Think.lang.Open}', toolbar: '#barAction', width: 120, fixed: 'right'}
            ]]
            , page: true
        });

        // layui.ssqselect.init({'url': "{:url('Tools/ajaxGetRegion')}", 'el': $("#ssqselect")})

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function (data) {
            // let chooseArr = layui.ssqselect.get({"el": $("#ssqselect")})
            var field = data.field; //检索参数
            // field['province_id'] = chooseArr[0] ? chooseArr[0] : ''
            // field['city_id'] = chooseArr[1] ? chooseArr[1] : ''
            // field['district_id'] = chooseArr[2] ? chooseArr[2] : ''
            //执行重载
            table.reload('dataTable', {
                where: field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        //头工具栏事件
        table.on('toolbar(dataTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id); //选中的数据数组等对象
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data; //选中的数据数组
                    layer.alert(JSON.stringify(data));
                    break;
            }
            ;
        });

        table.on('tool(dataTable)', function (obj) {
            // console.log(obj.data) //编辑的数据
            switch (obj.event) {
                case 'edit':
                    var index = layer.open({
                        type: 2,
                        title: '编辑',
                        content: '{:url("Bookcourse/form")}?id=' + obj.data.id,
                        shadeClose: true, // 点击遮罩层关闭
                        maxmin: true,
                        area: ['55%', '650px'],
                        btn: ['保存', '取消'],
                        btnAlign: 'c',
                        yes: function (index, layero) {
                            // layer.close(index);
                            let submit = layero.find('iframe').contents().find("#form_submit");
                            submit.click();
                            layer.close(index);
                        }
                    });
                    // 弹层全屏, 如无需弹层全屏, 请注释layer.full();
                    layer.full(index);
                    break;
                case 'del':
                    layer.confirm('确定删除数据?', function(index){
                        //向服务端发送删除指令
                        $.ajax({
                            "url":"{:url('Bookcourse/del')}",
                            "data":{"id":obj.data.id, "status":obj.data.status},
                        }).done(function (rs) {
                            layer.msg(rs.msg);
                            if(rs.code==0){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                table.reload('dataTable');
                            }
                        }).fail(function (rs) {
                            layer.msg(rs.msg);
                        });
                    });
                    break;
            }
            ;
        });


        form.on('switch(isShowSwitch)', function (obj) {
            let status = 0;
            if (obj.elem.checked) {
                status = 10;
            }
            $.ajax({
                "url": "{:url('ajaxSetShow')}",
                "data": {"id": obj.value, "status": status},
            }).done(function (rs) {
                layer.msg(rs.msg);
            }).fail(function (rs) {
                layer.msg('操作失败');
            });
        });


        //顶部tab切换触发效果
        element.on('tab(tabFilter)', function (data) {
            $("#search_tab_type").val(data.index + 1);
            $("[lay-filter='LAY-app-contlist-search']").click();
        });

    });
</script>
