{layout name="public:simple" /}
<style scoped>
    .text-red {
        color: #ff0000;
    }
    .layui-form-label {
        width: 120px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form action="{:url('classdetail/SaveBooked')}" method="post" class="layui-form form-inline" id="goods-type-form">
                    <input type="hidden" name="id" id="id" value="{$info.id|default='0'}">
                    <input type="hidden" name="detail_id" id="detail_id" value="{$detail_id|default='0'}">

                    <div class="layui-card-body" pad15>
                        <div class="layui-form" wid120 lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.Teacher}：</label><div class="layui-input-inline">
                                <select name="teacher_uid" lay-verify="required" lay-reqText="Please Select Teacher" lay-search>
                                    <option value="">{$Think.lang.PleaseSelect}</option>
                                    {foreach $teacher_name_list as $key=>$value}
                                    <option value="{$key}" {if isset($info['teacher_uid']) && $info['teacher_uid'] == $key} selected {/if}>{$value}</option>
                                    {/foreach}
                                </select>
                            </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.Student}：</label>
                                <div class="layui-input-inline">
                                    <select name="custom_uid" lay-verify="required" lay-reqText="Please Select Student" lay-search>
                                        <option value="">{$Think.lang.PleaseSelect}</option>
                                        {foreach $student_name_list as $key=>$value}
                                        <option value="{$key}" {if isset($info['custom_uid']) && $info['custom_uid'] == $key} selected {/if}>{$value}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.ClassifyName}：</label>
                                <div class="layui-input-inline">
                                    <select lay-filter="CatId" name="course_cat_id" id="course_cat_id" lay-verify="required" lay-reqText="Please Select Category">
                                        <option value="">{$Think.lang.PleaseSelect}</option>
                                        {foreach $cat_list as $key=>$value}
                                        <option value="{$value.id}" {if isset($info['course_cat_id']) && $info['course_cat_id'] == $value['id']} selected {/if}>{$value.name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.CourseName}：</label>
                                <div class="layui-input-inline">
                                    <select  name="course_id" id="course_id" lay-verify="required" lay-reqText="Please Select Course" lay-search>
                                        <option value="">{$Think.lang.PleaseSelect}</option>
                                        {foreach $course_name_list as $key=>$value}
                                        <option value="{$key}" {if isset($info['course_id']) && $info['course_id'] == $key} selected {/if}>{$value['name']}({$value['description']})</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.Day}：</label>
                                <label class="layui-input-inline star"  style="text-align:left">
                                    <input type="text" name="day" id="day" value="{$info.day|default=''}"  class="layui-input " placeholder="" readonly="readonly">
                                </label>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.Week}：</label>
                                <div class="layui-input-inline">
                                    <select name="weekStr" id="weekStr" lay-filter="weekStr" lay-verify="required" lay-reqText="Please Select Course" disabled="disabled">
                                        <option value="">{$Think.lang.PleaseSelect}</option>
                                        <option value="Sunday"    {if isset($info['week']) && $info['week'] == "Sunday"} selected {/if}>Sunday</option>
                                        <option value="Monday"    {if isset($info['week']) && $info['week'] == "Monday"} selected {/if}>Monday</option>
                                        <option value="Tuesday"   {if isset($info['week']) && $info['week'] == "Tuesday"} selected {/if}>Tuesday</option>
                                        <option value="Wednesday" {if isset($info['week']) && $info['week'] == "Wednesday"} selected {/if}>Wednesday</option>
                                        <option value="Thursday"  {if isset($info['week']) && $info['week'] == "Thursday"} selected {/if}>Thursday</option>
                                        <option value="Friday"    {if isset($info['week']) && $info['week'] == "Friday"} selected {/if}>Friday</option>
                                        <option value="Saturday"  {if isset($info['week']) && $info['week'] == "Saturday"} selected {/if}>Saturday</option>
                                    </select>
                                    <input type="hidden" name="week" id="week" value="{$info.week|default=''}"  class="layui-input " placeholder="">
                                </div>
                            </div>

                            <!-- status 0:待签到 10:签到完成 40: 取消预约,-->
                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.CheckStatus}：</label>
                                <div class="layui-input-inline">
                                    <select name="status" id="status" lay-filter="status" lay-verify="required" lay-reqText="Please Select Status" >
                                        <option value="0" {if isset($info['status']) && $info['status'] == 0} selected {/if}>{$Think.lang.Booked}</option>
                                        <option value="10" {if isset($info['status']) && $info['status'] == 10} selected {/if}>{$Think.lang.SignedIn}</option>
                                        <option value="40" {if isset($info['status']) && $info['status'] == 40} selected {/if}>{$Think.lang.ConfirmCancel}</option>
                                    </select>
                                    </div>
                            </div>
                            <!-- is_pay 是否已扣费用 0: 未扣, 10:已经扣除,-->
                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.PaymentStatus}：</label>
                                <div class="layui-input-inline">
                                    <select name="is_pay" id="is_pay" lay-filter="is_pay" lay-verify="required" lay-reqText="Please Select Deduction Status" >
                                        <option value="0" {if isset($info['is_pay']) && $info['is_pay'] == 0} selected {/if}>{$Think.lang.NoDeducted}</option>
                                        <option value="10" {if isset($info['is_pay']) && $info['is_pay'] == 10} selected {/if}>{$Think.lang.AlreadyDeducted}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label star">{$Think.lang.ClassTime}：</label>
                                <div class="layui-input-inline">
                                    <select lay-filter="selectMore" class="ssq-2" data-target="3" lay-verify="required" name="class_time_id">
                                        <option value="">{$Think.lang.PleaseSelect}{$Think.lang.ClassTime}</option>
                                        {volist name="classTimeList" id="classTime"}
                                        <option value="{$classTime.id}" {if $info['class_time'] == $classTime.start_time."-".$classTime.end_time} selected {/if}>{$classTime.start_time}-{$classTime.end_time}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item layui-hide">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="submit" type="submit"
                                            id="form_submit"><i class="iconfont"></i>提交
                                    </button>
                                    <!--                  <button class="layui-btn layui-btn-primary reset" type="button">重置</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="layui-form" id="show_region" style="display: none;padding-top: 15px;">
    <div class="layui-form-item">
        <label class="layui-form-label">地区</label>
        <div class="layui-input-block">
            <!-- 省市区 -->
            <div class="layui-col-md12" id="ssqselect">
                <div class="layui-inline layui-show-xs-block">
                    <select lay-filter="selectMore" class="ssq-1"
                            data-target="2" lay-verify="required"></select>
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <select lay-filter="selectMore" class="ssq-2"
                            data-target="3" lay-verify="required"></select>
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <select lay-filter="selectMore" class="ssq-3" lay-verify="required"></select>
                </div>
            </div>
            <!-- 省市区 end -->
        </div>
    </div>
</div>

<!-- 配置文件 -->
<!--<script src="__YUN_PUBLIC_DIR__/static/plugin/ueditoross/ueditor.config.js"></script>-->
<!-- 编辑器源码文件 -->
<!--<script type="text/javascript" src="__YUN_PUBLIC_DIR__/static/plugin/ueditoross/ueditor.all.js"></script>-->
<script src="__YUN_PUBLIC_DIR__/static/layuiadmin/layui/layui.js"></script>
<script>
    // value 格式 2024-04-29
    function weekChange(value){
        if(value!="" && value.length>0){
            var today = new Date(value.substring(0,10));
            var weekdayNum = today.getDay();
// console.log(weekdayNum)
            var weekStr = '';
            switch (weekdayNum) {
                case 0: weekStr = 'Sunday';break;
                case 1: weekStr = 'Monday';break;
                case 2: weekStr = 'Tuesday';break;
                case 3: weekStr = 'Wednesday';break;
                case 4: weekStr = 'Thursday';break;
                case 5: weekStr = 'Friday';break;
                case 6: weekStr = 'Saturday';break;
            }
            document.getElementById('week').value = weekStr;
            document.getElementById('weekStr').value = weekStr;
        }
    }


    layui.config({
        base: '__YUN_PUBLIC_DIR__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use([ 'index', 'form', 'upload', 'laydate', 'jquery'], function () {
        var $ = layui.$;
        var table = layui.table,
            form = layui.form,
            upload = layui.upload,
            element = layui.element;
        var laydate = layui.laydate;
        laydate.render({
            elem: '#day',
            trigger: 'click',
            done: function(value){
                weekChange(value)
                form.render('select')
            }
        });
        weekChange('{$info['day']}')
        form.render('select');

        //监听提交
        form.on('submit(submit)', function (data) {
            $.ajax({
                url: "{:url('classdetail/SaveBooked')}",
                type: 'post',
                dataType: 'json',
                data: $('form').serializeArray(),
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1, time: 2000}, function () {
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                },
                error: function () {
                    layer.msg('{$Think.lang.OperateFailed}');
                }
            });
            return false;
        });

        // 选择课程分类, 后的js
        form.on('select(CatId)', function(data){
// console.log(data.value); //打印选中的值
            $('#course_id').html('');
            $.ajax({
                url: "{:url('Pub/ajaxcoursebycat')}",
                type: 'post',
                dataType: 'json',
                data: {"cat_id":data.value},
                success: function (res) {
                    if (res.code === 0) {
                        let select_course_id = document.getElementById("course_id");
                        //<option value="">{$Think.lang.PleaseSelect}</option>
                        select_course_id.add(new Option("{$Think.lang.PleaseSelect}", ""));
                        let option = null;
                        for (let i = 0; i < res.data.length; i++) {
                            option = new Option(res.data[i].name, res.data[i].id);
                            select_course_id.add(option)
                        }
                        form.render('select')
                        form.render();
                    } else {
                        layer.msg(res.msg);
                    }
                },
                error: function () {
                    layer.msg('{$Think.lang.OperateFailed}');
                }
            });
        });



    });



    $(document).ready(function (){
    })

</script>
