{include file="public/header"/}
<link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/zeroModal.css">
<script src="__YUN_PUBLIC_DIR__/static/assets/js/zeroModal.min.js"></script>
<script>
    function _escape_kid() {
        console.log(window.outerWidth)
        zeroModal.show({
            // title: 'hello world',
            content: '<div style="position: relative;"><img src="__YUN_PUBLIC_DIR__/static/assets/img/school/dso_kid3.jpg" alt="" /> ' +
                '<a target="_blank" href="{:url(\'order/ajaxSubmit\', \'product_id=1\')}"><div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 14.9%; right: 30px;">Buy1</div></a>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 20.7%; right: 30px;">Buy2</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 26.4%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 32.3%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 46.1%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 51.9%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 57.5%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 71.5%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 77.3%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 83.1%; right: 30px;">Buy</div></div>',
            // content: '<b>this is zeroModal</b>',
            // content: 'this is zeroModal',
            width: window.outerWidth > 500 ? '450px' : '100%',
            top: '100px',
            height: '800px'
        });
    }

    function _escape_adult() {
        console.log(window.outerWidth)
        zeroModal.show({
            // title: 'hello world',
            content: '<div style="position: relative;"><img src="__YUN_PUBLIC_DIR__/static/assets/img/school/dso_adult2.jpg" alt="" /> ' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 13.3%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 19.2%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 25.1%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 41.6%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 47.5%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 53.2%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 69.8%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 75.5%; right: 30px;">Buy</div>' +
                '<div class="th-btn red-btn" style="padding: 1px 3px; font-size: 12px;position: absolute;top: 81.5%; right: 30px;">Buy</div></div>',
            // content: '<b>this is zeroModal</b>',
            // content: 'this is zeroModal',
            width: window.outerWidth > 500 ? '450px' : '100%',
            top: '100px',
            height: '800px'
        });
    }
</script>
<!--==============================
Hero Area
==============================-->
<div class="th-hero-wrapper hero-2" id="hero">
    <div class="hero-slider-2 th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1">
        <div class="th-hero-slide">
<!--            <div class="th-hero-bg" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/school/header2.jpg">-->
            <div class="th-hero-bg" data-bg-src="{$background_img}">
                <div class="hero-shape2"></div>
                <div class="hero-shape3"></div>
                <div class="hero-shape4"></div>
                <div class="hero-shape5"><img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_shape_3_1.png" alt="shape"></div>
            </div>
            <div class="container-fluid">
                <div class="hero-style2">
                        <span class="hero-subtitle style2 mt-n1" data-ani="slideinleft" data-ani-delay="0.1s">
                            Study With Us</span>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s" style="color: black">
                        Introduction to Hand by hand</h1>
                    <div class="btn-group mt-35" data-ani="slideinleft" data-ani-delay="0.9s">
<!--                        providing one-stop services for children's comprehensive development-->
                        <a href="{:url('index/contact')}" class="th-btn gold-btn-2">Apply Now</a>
                        <a href="javascript:_escape_kid()" class="th-btn gold-btn-2 text_transform_none">Pay On Line(Kid)</a>
                        <a href="javascript:_escape_adult()" class="th-btn gold-btn-2 text_transform_none">Pay On Line(Adult)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->
<!--==============================
About Area
==============================-->
<div class="overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row slider-shadow th-carousel" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true">
            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                about Us
                            </span>
                        <h2 class="sec-title">One stop service</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">By integrating various courses, we offer parents a one-stop service. Instead of spreading out across multiple locations, parents can now fulfill all their child's learning needs within the same institution, significantly reducing their time and effort.</p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen2.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Interdisciplinary learning</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">Hand by hand promotes interdisciplinary learning, which is the core concept of Hand by hand. Through the cross integration of different courses, children can broaden their horizons, cultivate comprehensive thinking and innovative abilities, and lay a solid foundation for future learning and career development.</p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen3.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Excellent faculty team</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand has an excellent faculty team. These teachers have interdisciplinary teaching experience and professional knowledge, which can provide high-quality education and guidance for children. Our goal is to ensure that they receive good learning support.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen4.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Personalized tutoring</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand provides personalized tutoring and guidance based on the child's interests and abilities. This personalized learning approach can help children achieve more comprehensive learning goals and fully unleash their potential.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen5.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Social interaction</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand also emphasizes the importance of social interaction. Students from different backgrounds and fields of interest gather here, providing them with a wider range of social interaction opportunities, helping them establish interpersonal relationships and expand their networks. These factors contribute to the comprehensive development of children.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen6.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Extracurricular activities</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        The various activities organized by Hand are very diverse, such as competitions, performances, exhibitions, etc. These activities can not only stimulate children's interest and creativity, but also exercise their leadership skills and teamwork spirit.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen7.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Resource sharing</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand usually has abundant teaching resources and facilities, such as libraries, laboratories, art studios, etc. Children can fully utilize these resources for learning and exploration, enhancing their learning outcomes and experiences.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen8.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Lifelong learning</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand focuses on cultivating students' lifelong learning abilities. The courses and activities they provide not only meet the current learning needs of children, but also lay a solid foundation for their future development, cultivating their lifelong learning habits and awareness.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen9.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Brand reputation</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand, having a good brand reputation and successful cases can increase parents' trust and willingness to make choices. Parents can confidently choose to provide high-quality education and training services for their children.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="col-xl-6" style="float: left">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/school/handexueyan yingwen10.jpg" style="max-width: 80%" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/about_shape_1.svg" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6"  style="float: left">
                    <div class="title-area mb-30">
                            <span class="sub-title style2">
                                About Us
                            </span>
                        <h2 class="sec-title">Scientific data-driven management</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-30">
                        Hand by hand adopts scientific management, which will further upgrade the current management system. Students and parents can have a more intuitive understanding of the current class situation and the stage growth process of students through our online management system. Parents can also share their family education experience through our platform, and can buy and sell idle items on the platform to create value.
                    </p>
                    <div class="checklist-wrapper">
                        <div class="checklist">
                            <ul>
                                <li>One stop service</li>
                                <li>Interdisciplinary learning</li>
                                <li>Excellent faculty team</li>
                                <li>Personalized tutoring</li>
                                <li>Social interaction</li>
                                <li>Extracurricular activities</li>
                                <li>Resource sharing</li>
                                <li>Lifelong learning</li>
                                <li>Brand reputation</li>
                                <li>Scientific data-driven management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn mt-40">
                        <a href="{:url('index/about')}" class="th-btn gold-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup movingX  d-none d-xxl-block" data-top="0%" data-right="0%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_1.png" alt="shape"></div>
</div>



<!--==============================
Team Area
==============================-->
<section class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title mt-n1">Dance Teacher</span>
            <h2 class="sec-title">Our Professional Instructor</h2>
        </div>
        <div class="row slider-shadow th-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true">

            {foreach $teacher_list as $id => $value}

            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="{$value.img_url}" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="#">{$value.name}</a></h3>
                        <span class="team-desig">{$value.description}</span>
                    </div>
                </div>
            </div>
            {/foreach}


        </div>
    </div>
</section>
<!--==============================
Dance Classes Area
==============================-->
<section class="space bg-smoke couple-area-sec" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/dance_bg_1.png" id="classes">
    <div class="container">
        <div class="row text-center text-lg-start justify-content-lg-between align-items-end">
            <div class="col-lg-7 mb-n2 mb-lg-0">
                <div class="title-area">
                    <span class="sub-title style1  mt-n1">Our Dance Classes</span>
                    <h2 class="sec-title">Dance Classes for everyone</h2>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="sec-btn">
                    <div class="icon-box">
                        <button data-slick-prev="#danceSlide" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                        <button data-slick-next="#danceSlide" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row slider-shadow th-carousel" id="danceSlide" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_1.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Hip-hop**</a></h3>
                    <p class="couple-card_text">Hip-hop dance originates from the United States and is known for its energy, rhythm, and unique style. It combines elements such as street dance, rhythm, movement combinations, and individual expression. Common movements include locking, popping, and breaking.
                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_2.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Jazz Funk**</a></h3>
                    <p class="couple-card_text">Jazz Funk is a dance form that blends elements of jazz dance and funk styles. It emphasizes dancers' expressiveness and stage presence, combining the elegance of jazz dance with the dynamism of funk, often seen in commercial stages and music videos.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_3.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**K-pop**:</a></h3>
                    <p class="couple-card_text">K-pop stands for Korean Pop, referring to the comprehensive body of South Korean popular music and dance. K-pop dances typically feature precise steps and intricate choreography, with dancers often wearing stylish costumes and performing diverse stage acts.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_4.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**C-pop**</a></h3>
                    <p class="couple-card_text">C-pop stands for Chinese Pop, encompassing popular music from mainland China, Hong Kong, Taiwan, and other Chinese-speaking regions. C-pop dance styles vary, covering traditional dance forms to modern popular dances.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_5.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Popular Hot Dance**</a></h3>
                    <p class="couple-card_text">This is a broad term covering current popular dance styles, which may include street dance, fashionable dances, popular choreography, and various dance challenges trending on social media.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_6.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Popping**</a></h3>
                    <p class="couple-card_text">Popping is a dance style originating from the United States, known for its rapid muscle contractions and releases. Dancers often make sudden contractions and expansions to the rhythm of the music, creating smooth dance effects.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_7.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Breaking**</a></h3>
                    <p class="couple-card_text">Breaking, also known as B-boying or B-girling, is one of the street dance styles originating from New York City. It mainly consists of floorwork, air moves, and upright moves, with dancers often performing various spins, flips, and dynamic movements on the ground.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_8.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Choreography**</a></h3>
                    <p class="couple-card_text">Choreography is a creative process where dancers create dance pieces by combining movements, steps, and rhythms. Dance choreographers are typically responsible for designing the structure, movements, and expression of the entire dance to create unique stage effects.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">Break Dance</a></h3>
                    <p class="couple-card_text">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt quis ac velit lectus.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==============================
Event 2 Area
==============================-->
<section class="space">
    <div class="container">
        <div class="row">
            <div class="event-wrapper">
                <div class="title-area mb-0">
                    <span class="sub-title style2 mt-n1">Events</span>
                    <h2 class="sec-title mb-0">Winter Camp Activities</h2>
                </div>
                <div class="event-btn">
                    <!--<a href="single-event.html" class="th-btn gold-btn">VIEW ALL EVENT</a>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="event-slide2">
                <div class="event-card style2">
                    <div class="event-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/event-1.png"
                             style="height: 400px;object-fit: cover;" alt="event">
                    </div>
                    <div class="event-card_list">
                        <span class="event-card_date">4 <span class="event-card_month">Day</span></span>
                        <p class="event-card_text">Full time Comprehensive Literacy Course </p>
                        <div class="event-card_btn"></div>
                    </div>
                </div>

                <div class="event-card style2">
                    <div class="event-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/event-2.png" style="height: 400px;object-fit: cover;" alt="event">
                    </div>
                    <div class="event-card_list">
                        <span class="event-card_date">1 <span class="event-card_month">Day</span></span>
                        <p class="event-card_text">Friday off campus theme park exploration activity</p>
                        <div class="event-card_btn"></div>
                    </div>
                </div>

                <div class="event-card style2">
                    <div class="event-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/event-3.png" style="height: 400px;object-fit: cover;" alt="event">
                    </div>
                    <div class="event-card_list">
                        <span class="event-card_date">1 <span class="event-card_month">Day</span></span>
                        <p class="event-card_text">Safari Park Tour for the Second Week</p>
                        <div class="event-card_btn"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{include file="public/footer"/}
