{include file="public/header"/}
<!--==============================
Hero Area
==============================-->
<div class="th-hero-wrapper hero-1" id="hero">
    <div class="hero-slider-1 number-dots th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true">

        <div class="th-hero-slide">
            <div class="th-hero-bg" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_bg_1_1.jpg">
                <div class="hero-shape">
                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_shape_1.svg" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="hero-style1">
                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Let’s Dance!</span>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Join The Incredible</h1>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">World Of <span class="text-theme">Dance!</span></h1>
                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. </p>
                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                        <a href="{:url('index/contact')}" class="th-btn red-btn">Apply Now</a>
                        <a href="{:url('index/about')}" class="th-btn style2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="th-hero-slide">
            <div class="th-hero-bg" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_bg_1_2.jpg">
                <div class="hero-shape">
                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_shape_1.svg" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="hero-style1">
                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Best Ballet Studio</span>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Modern & Classic</h1>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">Ballet <span class="text-theme"> Play</span></h1>
                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Praesent sapien massa, convallis pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Vivamus. </p>
                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                        <a href="{:url('index/contact')}" class="th-btn red-btn">Apply Now</a>
                        <a href="{:url('index/about')}" class="th-btn style2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="th-hero-slide">
            <div class="th-hero-bg" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_bg_1_3.jpg">
                <div class="hero-shape">
                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_shape_1.svg" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="hero-style1">
                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Grand Ceremony</span>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Once a Dancer,</h1>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">is Always a <span class="text-theme">Dance!</span></h1>
                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Quisque. </p>
                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                        <a href="{:url('index/contact')}" class="th-btn red-btn">Apply Now</a>
                        <a href="{:url('index/about')}" class="th-btn style2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--======== / Hero Section ========-->
<!--==============================
About Area
==============================-->
<div class="space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="img-box1 pe-xl-5">
                    <div class="img1">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/tnt.png" alt="About">
                        <img class="shape_1" src="__YUN_PUBLIC_DIR__/static/assets/img/icon/rectangle.svg" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="title-area mb-35">
                    <span class="sub-title style1 mt-n1">about The Dance School</span>
                    <h2 class="sec-title">We started since 2002</h2>
                </div>
                <p class="sec-desc mt-n2 mb-35" style="text-transform: none">T.nt Dance Studio started from T.nt Street Dance Club of Nanjing University of Information Science and Technology, the club was founded on May 11, 2002, and has gone through 20 years so far. T.nt Dance Studio of Dubai is the first overseas branch of the club, which was established in May 2022. Its original meaning is "trouble no trouble", meaning "anything is possible". Unity, progress, modesty, not afraid of difficulties, dancing for the sake of dancing, this is our dance soul.</p>
                <div class="btn-group style2">
                    <a href="{:url('index/about')}" class="th-btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Dance Technic Area
==============================-->
<div class="space">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="title-area">
                    <span class="sub-title style1  mt-n1">Our Dance Technic</span>
                    <h2 class="sec-title">It's the best reward you can give for a love that lasted 20 years.</h2>
                    The famous street dance club of hundreds of thousands of people, the common love of dance makes a group of lovely people together; And each other's persistence and efforts, and let the charm of dance infected more groups. It's the best reward you can give for a love that lasted 20 years.
                </div>

            </div>
            <div class="col-xl-6">
                <div class="img-box2">
                    <div class="img2">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/2022.png" alt="About">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Blog Area
==============================-->
<section class="blog-area space" id="blog-sec" style="padding-top: 0" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/blog_1_1.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title mt-n1">Blog & News</span>
            <h2 class="sec-title">Our Latest News & Articles</h2>
        </div>
        <div class="row slider-shadow th-carousel" id="blogSlide1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/act1-1.png" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="#"><i class="fa-solid fa-calendar-days"></i>On Feb 2023</a>
                    </div>
                    <h3 class="blog-title box-title" style="text-transform: none">
                        T.nt DANCE Studio held the 3rd Dubai kpop Dance COMPETITION, Dubai KPOP DANCE COMPETITION (DKDC) at the Silicon Valley Central Mall, with Dubai's popular kpop team and 5 top instructors as the opening show and judges. Ten individual dancers and 10 dance companies competed, bringing together more than 200 of the UAE's top KPOP enthusiasts.
                    </h3>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/act1-2.png" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="#"><i class="fa-solid fa-calendar-days"></i>On June 24 2023</a>
                    </div>
                    <h3 class="blog-title box-title"  style="text-transform: none">
                        T.nt Dance Studio held its first student performance and KPOP Random Dance Competition, and the first batch of students in Dubai successfully completed their dance performances.
                    </h3>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/act1-3.png" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="#"><i class="fa-solid fa-calendar-days"></i>On 29 Jan 2024</a>
                        <a href="#"><i class="fa-solid fa-tags"></i>Ballet dance</a>
                    </div>
                    <h3 class="blog-title box-title" style="text-transform: none">
                        T.nt dance studio Dubai host the 4th KPOP Dance Competition in UAE（KDCU），include KPOP Random Play with Dubai's popular kpop team and 5 top instructors as the opening show and judges. Ten individual dancers and 10 dance companies competed, bringing together more than 1000 of the UAE's top KPOP enthusiasts.Bigger than last year's overall scale, the stage effect exploded.
                    </h3>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/act1-4.png" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="#"><i class="fa-solid fa-calendar-days"></i>On 19  Feb 2024</a>
                    </div>
                    <h3 class="blog-title box-title" style="text-transform: none">
                        T.nt Crew join the UDO 2024（middle east dance competition），win the U10、U12 solo 2nd place，U18 solo 5th place，U18 team 2nd place，and will join the Aug 2024 UDO UK the world street dance competition.
                    </h3>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/act1-5.png" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="#"><i class="fa-solid fa-calendar-days"></i>On Flying Sky 2023</a>
                    </div>
                    <h3 class="blog-title box-title" style="text-transform: none">
                        T.nt Dance Studio's vintage jazz dance "Grain in Ear" and C-pop hip-hop dance "Flying Sky" participated in the 2023 Dubai Happy Chinese New Year Parade, one of the largest overseas Chinese New Year celebrations at Expo cityDubai.
                    </h3>
                </div>
            </div>

        </div>
    </div>
</section>



<!--==============================
Team Area
==============================-->
<section class="space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title mt-n1">Dance Teacher</span>
                <h2 class="sec-title">Our Professional Instructor</h2>
            </div>
            <div class="row slider-shadow th-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true">
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/act1-4.png" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Sammy Houston</a></h3>
                            <span class="team-desig">Instructor</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_2.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Jenifer Lopez</a></h3>
                            <span class="team-desig">Coreographer</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_3.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">David Milton</a></h3>
                            <span class="team-desig">Zumba Teacher</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_4.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Ellen Harrington</a></h3>
                            <span class="team-desig">Gym Instructor</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_5.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Jade Smith</a></h3>
                            <span class="team-desig">Yoga Instructor</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_6.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Maria D’Soza</a></h3>
                            <span class="team-desig">Decorator</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_7.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Marvin Becker</a></h3>
                            <span class="team-desig">Dancer</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-card">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_8.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Santino Pedro</a></h3>
                            <span class="team-desig">manager</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!--==============================
Dance Classes Area
==============================-->
<section class="space bg-smoke couple-area-sec" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/dance_bg_1.png" id="classes">
    <div class="container">
        <div class="row text-center text-lg-start justify-content-lg-between align-items-end">
            <div class="col-lg-7 mb-n2 mb-lg-0">
                <div class="title-area">
                    <span class="sub-title style1  mt-n1">Our Dance Classes</span>
                    <h2 class="sec-title">Dance Classes for everyone</h2>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="sec-btn">
                    <div class="icon-box">
                        <button data-slick-prev="#danceSlide" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                        <button data-slick-next="#danceSlide" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row slider-shadow th-carousel" id="danceSlide" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_1.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Hip-hop**</a></h3>
                    <p class="couple-card_text">Hip-hop dance originates from the United States and is known for its energy, rhythm, and unique style. It combines elements such as street dance, rhythm, movement combinations, and individual expression. Common movements include locking, popping, and breaking.
                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_2.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Jazz Funk**</a></h3>
                    <p class="couple-card_text">Jazz Funk is a dance form that blends elements of jazz dance and funk styles. It emphasizes dancers' expressiveness and stage presence, combining the elegance of jazz dance with the dynamism of funk, often seen in commercial stages and music videos.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_3.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**K-pop**:</a></h3>
                    <p class="couple-card_text">K-pop stands for Korean Pop, referring to the comprehensive body of South Korean popular music and dance. K-pop dances typically feature precise steps and intricate choreography, with dancers often wearing stylish costumes and performing diverse stage acts.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_4.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**C-pop**</a></h3>
                    <p class="couple-card_text">C-pop stands for Chinese Pop, encompassing popular music from mainland China, Hong Kong, Taiwan, and other Chinese-speaking regions. C-pop dance styles vary, covering traditional dance forms to modern popular dances.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_5.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Popular Hot Dance**</a></h3>
                    <p class="couple-card_text">This is a broad term covering current popular dance styles, which may include street dance, fashionable dances, popular choreography, and various dance challenges trending on social media.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_6.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Popping**</a></h3>
                    <p class="couple-card_text">Popping is a dance style originating from the United States, known for its rapid muscle contractions and releases. Dancers often make sudden contractions and expansions to the rhythm of the music, creating smooth dance effects.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_7.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Breaking**</a></h3>
                    <p class="couple-card_text">Breaking, also known as B-boying or B-girling, is one of the street dance styles originating from New York City. It mainly consists of floorwork, air moves, and upright moves, with dancers often performing various spins, flips, and dynamic movements on the ground.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_8.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">**Choreography**</a></h3>
                    <p class="couple-card_text">Choreography is a creative process where dancers create dance pieces by combining movements, steps, and rhythms. Dance choreographers are typically responsible for designing the structure, movements, and expression of the entire dance to create unique stage effects.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="#">Break Dance</a></h3>
                    <p class="couple-card_text">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt quis ac velit lectus.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--==============================
Counter Area
==============================-->
<div class="counter-sec-space" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/counter_bg_1.png">
    <div class="container z-index-common">
        <div class="counter-card_wrapper">
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">146</span>+</h2>
                <p class="counter-card_text">dance classes</p>
            </div>
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">50</span>+</h2>
                <p class="counter-card_text">Best Instructor</p>
            </div>
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">15</span>+</h2>
                <p class="counter-card_text">Total Brunch</p>
            </div>
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">560</span>+</h2>
                <p class="counter-card_text">Happy customer</p>
            </div>
        </div>
    </div>

    <!--==============================
    Event Area
    ==============================-->
    <section class="space event-sec bg-smoke" data-pos-for=".testimonial-area" data-sec-pos="top-half" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/event_bg_1.jpg">
        <div class="container">
            <div class="event-box">
                <div class="event-box_wrapper">
                    <div class="title-area">
                        <span class="sub-title style1 mt-n1">Events</span>
                        <h2 class="sec-title mb-0">Upcoming Events</h2>
                    </div>
                    <div class="event-btn style1">
<!--                        <a href="#" class="th-btn style5">VIEW ALL EVENT</a>-->
                    </div>
                </div>
                <div class="row event-slide" id="eventSlide">
                    <div class="col-lg-12">
                        <div class="event-slide">
                            <div class="event-box-content">
                                <div class="event-box_list">
                                    <span class="event-box_date">02 <span class="event-box_month">June</span></span>
                                    <p class="event-box_text">Dance Crew Audition! </p>
                                    <a href="{:url('index/event_detail_1')}" class="th-btn style3">CHECK EVENT</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="event-slide">
                            <div class="event-box-content">
                                <div class="event-box_list">
                                    <span class="event-box_date">22 <span class="event-box_month">June</span></span>
                                    <p class="event-box_text">UAE Trend Culture Festival! </p>
                                    <a href="{:url('index/event_detail')}" class="th-btn style3">CHECK EVENT</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="icon-box event-icon-box">
                    <button data-slick-prev="#eventSlide" class="slick-arrow default"><i class="fa-solid fa-angle-down"></i></button>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Gallery Area
    ==============================-->
    <!--==============================
    Cta Area
    ==============================-->
    <section class="" data-pos-for=".blog-area" style="margin-top: 100px;margin-bottom: -400px!important " data-sec-pos="bottom-half">
        <div class="container">
            <div class="cta-area" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/cta_bg_1.png">
                <div class="row justify-content-between">
                    <div class="col-xl-12">
                        <h2 class="sec-title cta-title mt-n2" style="text-transform: none">T.nt Dance Studio</h2>
                        <p class="cta-desc" style="text-transform: none">T.nt will continue to spread hip-hop culture, present good works to more people, give students more stages to show their talents, increase confidence, improve performance, nothing is impossible！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Footer Area
    ==============================-->
    {include file="public/footer"/}
