{layout name="public:layout" /}

<div class="form-content">
    <div class="layui-card data-container">
        <div class="layui-card-header"><i class="iconfont">&#xe755;</i> {$title}</div>
        <div class="layui-card-body">
            <form class="layui-form form-inline">
                <input type="hidden" name="uid" value="{$uid|default=''}">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" class="layui-input" name="source_password" placeholder="请输入密码" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" class="layui-input" name="password" placeholder="请输入密码" value="">
                    </div>
                </div>
                <div class="layui-form-item form-btn ">
                    <div class="layui-input-inline">
                        <button type="submit" class="layui-btn" lay-submit lay-filter="submit" id="form_submit"><i class="iconfont">&#xe645;</i> 提交</button>
                        <button type="button"  class="layui-btn layui-btn-normal " onclick="parent.layui.admin.events.closeThisTabs();;"><i class="iconfont">&#xe9af;</i> 返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.config({
        base: '/static/layui/lay/modules/'
    });
    layui.use(["element", "jquery", "layer", "form"], function(){
        var element = layui.element,
            $ = layui.jquery,
            layer = layui.layer,
            form = layui.form;



        //监听提交
        form.on('submit(submit)', function(data){
            $.ajax({
                url:"{:url('doPassword')}",
                type:'post',
                dataType:'json',
                data:$('form').serializeArray(),
                success:function(res){
                    if(res.code==1){
                        layer.msg(res.msg,{icon:1,time:2000},function (){
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(res.msg);
                    }
                },
                error:function(){
                    layer.msg('操作失败！！！');
                }
            });
            return false;
        });

    });
</script>
</div>