{layout name="public:simple" /}
<style scoped>
    .layui-form-label {
        width: 140px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">{$Think.lang.EditWallet}</div>
                <form action="{:url('editWallet')}" method="post" class="layui-form form-inline" id="goods-type-form">
                    <div class="layui-card-body" pad15>
                        <div class="layui-form" wid120 lay-filter="">
                            <input type="hidden" name="id" value="{$info.id}">
                            <input type="hidden" name="role" value="{$info.role}"  class="layui-input"   placeholder="">
                            <div class="layui-form-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$Think.lang.Name}：</label>
                                    <div class="layui-form-mid">
                                        {$info.name}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$Think.lang.ResidueDegree}：</label>
                                    <div class="layui-form-mid">
                                        {$info.residue_quantity}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$Think.lang.ValueNum}：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="change_amount" value=""  class="layui-input"   placeholder="">
                                    </div>
                                    <div class="layui-input-inline">
                                        {$Think.lang.WalletOperationInstructions}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">{$Think.lang.Remark}：</label>
                                    <div class="layui-input-inline">
<!--                                        <input type="text" name="remark" value=""  class="layui-input"  placeholder="">-->
                                        <textarea name="remark"  autocomplete="off" class="layui-textarea"></textarea>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-hide" id="form_submit" lay-submit lay-filter="submit" type="submit"><i class="iconfont"></i>提交
                                        </button>
                                        <!--                                        <button class="layui-btn layui-btn-primary reset" type="reset">重置</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 配置文件 -->
<script src="__YUN_PUBLIC_DIR__/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '__YUN_PUBLIC_DIR__/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , laydate = layui.laydate
            , form = layui.form;

        laydate.render({
            elem: '#LAY-component-form-group-date',
            trigger: 'click',
        });
        laydate.render({
            elem: '#LAY-component-form-group-date2',
            trigger: 'click',
        });

        form.on('submit(submit)', function (data) {
            $.ajax({
                url: "{:url('editWallet')}",
                type: 'post',
                dataType: 'json',
                data: $('form').serializeArray(),
                success: function (res) {
                    console.log(res.result)
                    if (res.result) {
                        layer.msg(res.msg, {icon: 1, time: 2000}, function () {
                            parent.layer.msg(res.msg);
                            parent.location.reload();
                        });
                    } else {
                        parent.layer.msg(res.msg);
                    }
                },
                error: function () {
                    layer.msg('{$Think.lang.OperateFailed}');
                }
            });
            return false;
        });


    });
</script>
