{include file="public/header"/}
<style>
    .state-1 {
        background-color: transparent;
        border: 1px solid var(--theme-color);
        color: var(--theme-color);
        position: relative;
        z-index: 2;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        /* background-color: var(--theme-color); */
        /* color: var(--white-color); */
        font-family: var(--title-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 7px 19px;
        border-radius: 10px;
    }

    .state-2, .state-3{
        background-color: transparent;
        border: 1px solid var(--theme-color);
        color: var(--theme-color);
        position: relative;
        z-index: 2;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        border: none;
        text-align: center;
        background-color: var(--theme-color);
        color: var(--white-color);
        font-family: var(--title-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 8px 8px;
        border-radius: 10px;
        cursor: pointer;
    }
    .state-3{
        background-color: var(--error-color);
    }



    .select {
        background: var(--theme-color) !important;
        color: var(--white-color) !important;
    }
    .highlight a {
        /*background: #f5f5f5 !important;*/
        color: #0c63e4 !important;
        /* 在这里定义高亮显示的样式 */
    }
    .ui-widget-header {
        background: white ;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: white;
        color: #999797;
        border-radius: 4px;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #6b2ae6;
    }
</style>
<section class="th-blog-wrapper space-top space-extra-bottom" style="padding-top: 150px;padding-bottom: 300px;">
    <div class="container">
        <div class="th-blog blog-single has-post-thumbnail">
            <div class="blog-content">
                <h2 class="blog-title">{$userInfo.name}
                </h2>
                <div class="blog-meta">
                    <a href="#"><i class="fa-light fa-calendar-days"></i>{$userInfo.expiry_date_en}</a>
                </div>
                <p class="blog-text">剩余次数: {$userInfo.residue_quantity}</p>
                <!--
                <div class="blog-img" style="padding: 30px 0;">
                    <a href="blog-details.html">
                        <div style="width: 100%;text-align: center;" id="qrcode"></div>
                    </a>
                </div>
                -->
            </div>
        </div>
        <div style="display:flex;align-items:center">
            <input type="text" id="datepicker" placeholder="请选择日期">
<!--            <input type="text" id="daySelect" class="demo-input" placeholder="请选择日期" readonly="readonly" />-->
            <div style="flex:1"></div>
            <button type="submit" style="width: 200px;margin-left:20px" class="th-btn" onclick="submit_search()">搜索</button>

        </div>
                    <div class="tab-pane fade active show" id="detaiList" role="tabpanel">
                        <!--
                        <div class="event-item" style="position: relative;">
                            <div class="event-item_wrapper">
                                <div class="event-item-wrapp" style="flex: 1;">
                                    <div class="event-item_content">
                                        <div class="event-item_list">
                                            <h3 class="event-item_title">课程名称</h3>
                                            <span class="event-item_time"><i class="fa-regular fa-clock"></i>08:00AM -10:00PM</span>
                                            <span class="event-item_location"><i class="fal fa-user"></i>老师</span>
                                        </div>
                                        <div class="event-btn" style="right: 20px;top: 0;">
                                            <div class="state-1">已预约</div>
                                            <div class="state-2 confirm_book_course">待确认</div>
                                            <div class="state-3 cancel_book_course">取消预约</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->

                    </div>
                    <div class="th-pagination text-center mt-30">
                        <ul id="pagination">
                            <li id="prePage" data-id="prePage" onclick="toPage('previous')" class="page_btn"><span><i class="far fa-arrow-left"></i></span></li>
                            <li><span style="width: auto;padding: 0 15px;display:flex"><div id="now-page">1</div> <div style="margin: 0 5px">
                                /
                            </div> <div id="total-page">1</div></span></li>
<!--                            <li><span onclick="toPage(3)">3</span></li>-->
                            <li id="nextPage" data-id="nextPage" onclick="toPage('next')"  class="page_btn"><span><i class="far fa-arrow-right"></i></span></li>
                        </ul>
                    </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
<script type="text/javascript" src="__YUN_PUBLIC_DIR__/static/js/jquery.qrcode.min.js"></script>
<script src="__YUN_PUBLIC_DIR__/static/assets/js/jquery-ui.js"></script>
<script>
    var highlightDates = <?php echo json_encode($day_group_count); ?>; //要高亮显示的日期
    $("#datepicker").datepicker({
        inline: true,
        showButtonPanel: false,
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
// console.log(dateText)
            ajaxList(1, dateText)
        },
        beforeShowDay: function (date) {

            if (highlightDates.includes($.datepicker.formatDate('yy-mm-dd', date))) {
                return [true, "highlight"];
            }
            return [true, '']
        }
    });
</script>
<script src="__YUN_PUBLIC_DIR__/static/assets/js/datepicker.min.js"></script>
<script src="__YUN_PUBLIC_DIR__/static/assets/js/datepicker.zh.min.js"></script>
<script>
    function submit_search(){
        daySelect = $("#daySelect").val();
        ajaxList(nowPage, daySelect)
    }

nowPage = 1
totalPage = 0
 function toPage(type) {
    if (type === 'next') {
        if (nowPage < totalPage) {
             nowPage += 1
        }
    } else {
        if (nowPage > 1) {
            nowPage -= 1
        }
    }
     daySelect = $("#daySelect").val();
     ajaxList(nowPage, daySelect)
}

function confirmBooked(booked_id){
    $.ajax({
        "url": "{:url('ajaxConfirm')}",
        "data": {"id": booked_id},
    }).done(function (rs) {
        Qmsg.info(rs.msg);
        location.reload();
    }).fail(function (rs) {
        Qmsg.error(rs.msg)
    });

}

 function cancelBooked(booked_id){
     $.ajax({
         "url": "{:url('ajaxCancel')}",
         "data": {"id": booked_id},
     }).done(function (rs) {
         Qmsg.info(rs.msg);
         location.reload();
     }).fail(function (rs) {
         Qmsg.error(rs.msg)
     });
 }


function ajaxList(page, day){
    limit = 10;
    $.ajax({
        "url": "{:url('ajaxList')}",
        "data": {"page": page, "limit": limit, "day": day},
    }).done(function (rs) {
        console.log('rs', rs)
        var html = '';

        for (const rsKey in rs.list) {
            if(rs.list[rsKey].status == 0){
                //'<div class="state-1">'+rs.list[rsKey].status_text+'</div>\n' +
                $status_html =
                    '<div class="state-2" onclick="confirmBooked('+rs.list[rsKey].id+')" data-id="'+rs.list[rsKey].id+'">'+rs.list[rsKey].confirm_text+'</div>\n' +
                    '<div class="state-3" onclick="cancelBooked('+rs.list[rsKey].id+')" data-id="'+rs.list[rsKey].id+'">'+rs.list[rsKey].cancel_text+'</div>';
            }else{
                $status_html = '<div class="state-2">'+rs.list[rsKey].status_text+'</div>';
            }

            html += '<div class="event-item" style="position: relative;">\n' +
                '                            <div class="event-item_wrapper">\n' +
                '                                <div class="event-item-wrapp" style="flex: 1;">\n' +
                '                                    <div class="event-item_content">\n' +
                '                                        <div class="event-item_list">\n' +
                '                                            <h3 class="event-item_title">'+rs.list[rsKey].course_name+'</h3>\n' +
                // '                                            <span class="event-item_time"><i class="fa-regular fa-clock"></i>'+rs.list[rsKey].start_time+' - '+rs.list[rsKey].end_time+'</span>\n' +
                '                                            <span class="event-item_time"><i class="fa-regular fa-clock"></i>'+rs.list[rsKey].day_short+' ('+rs.list[rsKey].start_time+' - '+rs.list[rsKey].end_time+')</span>\n' +
                '                                            <span class="event-item_location"><i class="fal fa-user"></i>'+rs.list[rsKey].student_name+'</span>\n' +
                '                                        </div>\n' +
                '                                        <div class="event-btn" style="right: 20px;top: 0;">\n' +
                $status_html+
                '                                        </div>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>';
        }
        let pageHtml = ''
        totalPage = Math.ceil(rs.count / limit)
        $('#now-page').html(page)
        $('#total-page').html(totalPage)
        $('#detaiList').html(html);

    }).fail(function (rs) {
        layer.msg('{$Think.lang.OperateFailed}');
    });
}

function changeCheck(page) {
    for (let index = 1; index <= totalPage; index++) {
        if (index === page) {
            $('#page-' + index).addClass('select')
        } else {
            $('#page-' + index).removeClass('select')
        }
    }
}
$(document).ready(function () {
    // $("#day").change(function () {
    //     day = $("#day").val();
    //     ajaxList(1, day)
    // })

   // ajaxList(1, today_str)
})

</script>
