{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">About Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
About Area
==============================-->
<div class="space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="img-box1 pe-xl-5">
                    <div class="img1">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about_1.png" alt="About">
                        <img class="shape_1" src="__YUN_PUBLIC_DIR__/static/assets/img/icon/rectangle.svg" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="title-area mb-35">
                    <span class="sub-title style1 mt-n1">about The Dance School</span>
                    <h2 class="sec-title">We provide service since in 2008</h2>
                </div>
                <p class="sec-desc mt-n2 mb-35">Dramatically morph reliable experiences without strategic methodologies. Quickly
                    create frictionless strategic theme areas. Completely maximize economically sound e-markets after
                    user-centric deliverables. Proactively create intuitive ROI and. </p>
                <p class="sec-desc mt-n3 mb-35">Compellingly expedite end-to-end sources without visionary process improvements.
                    Compellingly exploit maintainable supply chains.</p>
                <div class="btn-group style2">
                    <a href="about.html" class="th-btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Dance Technic Area
==============================-->
<div class="bg-smoke space" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/dance_bg_1.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="title-area mt-n1">
                    <span class="sub-title style1">Our Dance Technic</span>
                    <h2 class="sec-title">We’re some simple steps for teaching dance</h2>
                </div>
                <div class="nav nav-tabs technic-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1" type="button">Dance Step 01</button>
                    <button class="nav-link" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2" type="button">Dance Step 02</button>
                    <button class="nav-link" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3" type="button">Dance Step 03</button>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-step1" role="tabpanel">
                        <div class="technic-content">
                            <p class="technic-desc">Credibly leverage other's low-risk high-yield intellectual capital with state of the art customer service. Proactively whiteboard bricks-and-clicks processes via error-free portals. Intrinsically transform professional.</p>
                            <div class="technic-wrapper">
                                <div class="technic-icon-list">
                                    <ul>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Practice</li>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Growth</li>
                                    </ul>
                                </div>
                                <div class="technic-icon-list">
                                    <ul>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Training</li>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Improvement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-step2" role="tabpanel">
                        <div class="technic-content">
                            <p class="technic-desc">Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.</p>
                            <div class="technic-wrapper">
                                <div class="technic-icon-list">
                                    <ul>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Practice</li>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Growth</li>
                                    </ul>
                                </div>
                                <div class="technic-icon-list">
                                    <ul>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Training</li>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Improvement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-step3" role="tabpanel">
                        <div class="technic-content">
                            <p class="technic-desc">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="technic-wrapper">
                                <div class="technic-icon-list">
                                    <ul>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Practice</li>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Growth</li>
                                    </ul>
                                </div>
                                <div class="technic-icon-list">
                                    <ul>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Training</li>
                                        <li><i class="fa-regular fa-circle-check"></i>Dance Improvement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-6">
                <div class="video-box2" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/normal/video_2.jpg">
                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/video_2.jpg" alt="video">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play-btn popup-video">
                        <i class="fa-light fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Counter Area
==============================-->
<div class="counter-area-three" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/counter_bg_3.png">
    <div class="container z-index-common">
        <div class="counter-card_wrapper">
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">146</span>+</h2>
                <p class="counter-card_text">dance classes</p>
            </div>
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">50</span>+</h2>
                <p class="counter-card_text">Best Instructor</p>
            </div>
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">15</span>+</h2>
                <p class="counter-card_text">Total Brunch</p>
            </div>
            <div class="counter-card">
                <h2 class="counter-card_number"><span class="counter-number">560</span>+</h2>
                <p class="counter-card_text">Happy customer</p>
            </div>
        </div>
    </div>
</div>
<!--==============================
Service Area
==============================-->
<section class="bg-smoke space">
    <div class="container">
        <div class="row gy-5 justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="service-item">
                    <h3 class="service-item_title mt-n2"><a href="#">Our Mission</a></h3>
                    <p class="service-item_text mb-n1">Appropriately engage value-added technology with timely content. Dynamically customize vertical platforms vis-à-vis wireless growth strategies. Enthusiastically iterate just in time testing procedures whereas 24/7 customer service. Professionally.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-item">
                    <h3 class="service-item_title mt-n2"><a href="#">Our Vision</a></h3>
                    <p class="service-item_text mb-n1">Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-item">
                    <h3 class="service-item_title mt-n2"><a href="#">Our Awards</a></h3>
                    <p class="service-item_text mb-n1">Curabitur aliquet quam id dui posuere blandit. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit amet quam vehicula elementum sed sit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Team Area
==============================-->
<section class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title mt-n1">Dance Teacher</span>
            <h2 class="sec-title">Our Professional Instructor</h2>
        </div>
        <div class="row slider-shadow th-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true">
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_1.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Sammy Houston</a></h3>
                        <span class="team-desig">Instructor</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_2.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Jenifer Lopez</a></h3>
                        <span class="team-desig">Coreographer</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_3.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">David Milton</a></h3>
                        <span class="team-desig">Zumba Teacher</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_4.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Ellen Harrington</a></h3>
                        <span class="team-desig">Gym Instructor</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_5.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Jade Smith</a></h3>
                        <span class="team-desig">Yoga Instructor</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_6.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Maria D’Soza</a></h3>
                        <span class="team-desig">Decorator</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_7.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Marvin Becker</a></h3>
                        <span class="team-desig">Dancer</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_2_8.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title box-title"><a href="single-instructor.html">Santino Pedro</a></h3>
                        <span class="team-desig">manager</span>
                    </div>
                    <div class="team-social">
                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--==============================
Cta Area
==============================-->
<section class="" data-pos-for=".testimonial-sec" data-sec-pos="bottom-half">
    <div class="container">
        <div class="cta-area" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/cta_bg_1.png">
            <div class="row justify-content-between">
                <div class="col-xl-12">
                    <h2 class="sec-title cta-title mt-n2">get your free registration </h2>
                    <p class="cta-desc">[note: may want a registration form inserted here & linked to dance?]</p>
                    <div class="cta-btn text-center">
                        <a href="contact.html" class="th-btn">get started</a>
                        <a href="contact.html" class="th-btn white-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Testimonial Area
==============================-->
<section class="testimonial-sec space bg-smoke" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/shape_bg_1.png">
    <div class="container">
        <div class="title-area">
            <span class="sub-title style1 mt-n1">Testimonials</span>
            <h2 class="sec-title">What our students have to say?</h2>
        </div>
        <div class="row th-carousel slider-shadow " data-slide-show="2" data-lg-slide-show="2" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true">
            <div>
                <div class="testi-card">
                    <div class="testi-content">
                        <p class="testi-card_text">Rapidiously syndicate cross-unit imperatives rather than unique partnerships. Collaboratively mesh error-free catalysts for change without plug-and-play opportunities. Completely maximize dynamic methodologies via. Authoritatively enhance superior relationships before.</p>
                        <div class="testi-card_wrapper">
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_1_1.jpg" alt="Avater">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">David Milton</h3>
                                    <span class="testi-card_desig">dance student</span>
                                </div>
                            </div>
                            <div class="testi-card_quote">
                                <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/quote.svg" alt="quote">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testi-card">
                    <div class="testi-content">
                        <p class="testi-card_text">Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar id eget.</p>
                        <div class="testi-card_wrapper">
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_1_2.jpg" alt="Avater">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">David Milton</h3>
                                    <span class="testi-card_desig">Senjuti das</span>
                                </div>
                            </div>
                            <div class="testi-card_quote">
                                <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/quote.svg" alt="quote">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testi-card">
                    <div class="testi-content">
                        <p class="testi-card_text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, elementum id enim.</p>
                        <div class="testi-card_wrapper">
                            <div class="testi-card_profile">
                                <div class="testi-card_avater">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_1_3.jpg" alt="Avater">
                                </div>
                                <div class="media-body">
                                    <h3 class="testi-card_name">Abraham Khalil</h3>
                                    <span class="testi-card_desig">dance student</span>
                                </div>
                            </div>
                            <div class="testi-card_quote">
                                <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/quote.svg" alt="quote">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
