{include file="public/header"/}

<style xmlns="http://www.w3.org/1999/html">
    .cta-info {
        padding: 0 80px;
        font-size: 16px;
        line-height: 40px;
        text-align: left;
    }
    @media screen and (max-width: 768px) {
        .cta-info {
            padding: 0px;
        }
    }
    body{
        background: var(--title-color) !important;
    }
    .bg-smoke {
        background: var(--title-color) !important;
    }
    .contact-info h4 {
        color: white;
    }
    p {
        color:var(--white-color)
    }
    .technic-tabs .nav-link{
        color:var(--white-color)
    }
    .space, .space-bottom, .space-top{
        padding-top: 60px;
        padding-bottom: 60px;
    }
</style>
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">About Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
About Area
==============================-->
<div class="space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="img-box1 pe-xl-5">
                    <div class="img1">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about-1.jpg" alt="About">
                        <img class="shape_1" src="__YUN_PUBLIC_DIR__/static/assets/img/icon/rectangle.svg" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="title-area mb-35">
                    <span class="sub-title style1 mt-n1">About The Platform</span>
                    <h2 class="sec-title" style="color: var(--white-color);">Welcome to the Hand by hand Internet Education Platform!</h2>
                </div>
                <p class="sec-desc mt-n2 mb-35">We are committed to providing a one-stop education solution for students, teachers, and parents. Whether you are seeking learning resources, looking to enhance skills, or in need of personalized learning plans, we can meet your needs.</p>
                <!--<div class="btn-group style2">-->
                <!--    <a href="about.html" class="th-btn">LEARN MORE</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!--==============================
Dance Technic Area
==============================
data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/dance_bg_1.png"
-->
<div class="bg-smoke space" >
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-area mt-n1">
                    <span class="sub-title style1">Our Mission</span>
<!--                    <h2 class="sec-title">We’re some simple steps for teaching dance</h2>-->
                </div>
                <div class="nav nav-tabs technic-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1" type="button">**For Students:**</button>
                    <button class="nav-link" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2" type="button">**For Teachers:**</button>
                    <button class="nav-link" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3" type="button">**For Parents:**</button>
                    <button class="nav-link" id="nav-step4-tab" data-bs-toggle="tab" data-bs-target="#nav-step4" type="button">**For Other Training Institutions:**</button>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-step1" role="tabpanel">
                        <div class="technic-content" style="display:flex">
                            <img style="flex: 1" src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about-2.jpg" alt="About">
                            <div style="width: 80px"></div>
                            <div  style="flex: 1" >
                                <p class="technic-desc">
                                    <span><span >- Diverse Online and Offline Courses: From academic subjects to hobbies and practical skills, we offer high-quality courses covering various fields, allowing students to easily learn content they are interested in.</span></span></p><p ><span ><span >- Personalized Learning Experience: Our platform supports intelligent recommendation systems, recommending suitable courses and learning plans based on students&#39; preferences and levels, helping them learn efficiently.</span></span></p><p ><span ><span >- Interactive Learning Tools: Students can engage in interactive communication with teachers and classmates through online discussions, assignment submissions, and real-time Q&amp;A, enhancing learning effectiveness.</span></span></p><p><br/>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-step2" role="tabpanel">
                        <div class="technic-content" style="display:flex">
                            <div  style="flex: 1" >
                                <p class="technic-desc">
                                    <span ><span >- Innovative Teaching Tools: We provide a wealth of teaching resources and tools to help teachers design engaging courses and improve teaching efficiency.</span></span></p><p ><span ><span >- Teaching Support and Training: Teachers can participate in professional training courses on our platform to learn the latest teaching methods and techniques, enhancing their teaching skills.</span></span></p><p ><span ><span >- Teaching Community: Teachers can share experiences and exchange teaching insights with other teachers on our platform, growing together.</span></span></p><p><br/>
                            </p>
                            </div>
                            <div style="width: 80px"></div>
                            <img style="flex: 1" src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about-3.jpg" alt="About">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-step3" role="tabpanel">
                        <div class="technic-content" style="display:flex">
                            <img style="flex: 1" src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about-4.jpg" alt="About">
                            <div style="width: 80px"></div>
                            <div  style="flex: 1" >
                                <p class="technic-desc">
                                <p >
                                    <span ><span >- Learning Tracking and Feedback: Parents can understand their children&#39;s learning situation, timely grasp their learning progress, and communicate and provide feedback to teachers through our platform.</span></span></p><p ><span ><span >- Education Consultation Service: We offer professional education consultation services to help parents solve educational problems and develop suitable learning plans and educational strategies.</span></span>

                            </p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-step4" role="tabpanel">
                        <div class="technic-content" style="display:flex">
                            <div  style="flex: 1" >
                                <p class="technic-desc">
                                    <span ><span >- Education Partnership Program: We welcome other training institutions to join our education partnership program, collaborate, share resources, and jointly promote the development of the education industry.</span></span></p><p ><span ><span >- Customized Solutions: We provide customized solutions for partners, offering personalized services based on their needs and characteristics to help them improve teaching effectiveness and competitiveness.</span></span></p><p ><span ><span >- Technical Support and Training: We offer professional technical support and training services to help partners fully utilize our platform and tools to achieve teaching goals.</span></span></p><p ><span ><span >- Brand Cooperation and Promotion: We cooperate with partners to promote and build high-quality education brands, expand influence, and attract more students and teachers to join.</span></span></p><p><br/>
                            </p>
                            </div>
                            <div style="width: 80px"></div>
                            <img style="flex: 1" src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about-5.jpg" alt="About">

                        </div>

                    </div>

                </div>
            </div>
            <!--<div class="col-xl-6">-->
            <!--    <div class="video-box2" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/normal/video_2.jpg">-->
            <!--        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/video_2.jpg" alt="video">-->
            <!--        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play-btn popup-video">-->
            <!--            <i class="fa-light fa-play"></i></a>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!--==============================
Cta Area
==============================-->
<!--
<section class="" data-pos-for=".testimonial-sec" style="margin-top: 80px" data-sec-pos="bottom-half">
    <div class="container">
        <div class="cta-area" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/cta_bg_1.png" style="padding: 40px 0">
            <div class="row justify-content-between">
                <div class="col-xl-12">
                    <p class="cta-desc cta-info" style="">
                        Whether you are a student, teacher, parent, or other training institution, our Internet education platform provides you with a rich variety of educational resources and services.
                    </p>
                    </br>
                    <p class="cta-desc cta-info">
                        For students, we offer high-quality online courses, personalized learning experiences, and interactive learning tools to help them easily learn content they are interested in.
                    </p>
                    </br>
                    <p class="cta-desc cta-info">
                        For teachers, we provide innovative teaching tools, teaching support, and training to help them design engaging courses and improve teaching efficiency.
                    </p>
                    </br>
                    <p class="cta-desc cta-info">
                        For parents, we offer learning tracking and feedback, education consultation services, and personalized learning plans.
                    </p>
                    </br>
                    <p class="cta-desc cta-info">
                        For other training institutions, we welcome you to join our education partnership program, collaborate, share resources, and jointly promote the development of the education industry. As your partner, we are committed to providing support and services to promote the development of the education industry and achieve win-win cooperation. We look forward to working together with you to create a better future in the field of education!
                    </p>
                    </br>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<div class="bg-smoke space" >
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-area mt-n1"></div>
                <div class="nav nav-tabs technic-tabs" id="nav-tab2" role="tablist"></div>
                <div class="tab-content">
                    <div class="tab-pane fade active show" role="tabpanel">
                        <div class="technic-content" style="display:flex">
                            <div  style="flex: 1" >
                                <p class="technic-desc"><span ><span >Whether you are a student, teacher, parent, or other training institution, our Internet education platform provides you with a rich variety of educational resources and services.</span></span></p>
                                <p class="technic-desc"><span ><span >For students, we offer high-quality online courses, personalized learning experiences, and interactive learning tools to help them easily learn content they are interested in.</span></span></p>
                                <p class="technic-desc"><span ><span >For teachers, we provide innovative teaching tools, teaching support, and training to help them design engaging courses and improve teaching efficiency.</span></span></p>
                                <p class="technic-desc"><span ><span >For parents, we offer learning tracking and feedback, education consultation services, and personalized learning plans.</span></span></p>
                                <p class="technic-desc"><br/></p>
                            </div>
                            <div style="width: 80px"></div>
                            <img style="flex: 1" src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about-5.jpg" alt="About">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div style="height: 380px">-->
<!--</div>-->
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
