{include file="public/header"/}
<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/event/header.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Event Details</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Event Details</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Event Area
==============================-->
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-single event-single">
                    <div class="page-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/2022.png" alt="Event Image">
                    </div>
                  
                </div>
            </div>


            <div class="col-lg-6">
                <aside class="sidebar-area">
                    <div class="widget widget_info  " style="height: 600px">
                        <!-- <a href="https://calendar.google.com/calendar/" class="th-btn">Add To Calendar</a>
                        <a href="rsvp.html" class="th-btn red-border">Ical Export</a> -->
                        <h3 class="widget_title">Event Information</h3>
                        <div class="info-list">
                            <ul>
                                <li>
                                    <i class="fa-light fa-calendar-days"></i>
                                    <strong>Fist Date: </strong>
                                    <span>May 15, 2024</span>
                                </li>
                                <li>
                                    <i class="fa-light fa-clock"></i>
                                    <strong>Second Date: </strong>
<!--                                    <span>2024 年 6 月 2 日</span>-->
                                    <span>June 2, 2024</span>
                                </li>
                                <li>
                                    <i class="fa-light fa-location-dot"></i>
                                    <strong>Venue: </strong>
                                    <span>School Of Arts</span>
                                </li>
                                <li>
                                    <i class="fa-light fa-map"></i>
                                    <strong>Address: </strong>
                                    <span>256 SDY Oliva St.</span>
                                </li>
                                <li>
                                    <i class="fa-light fa-user"></i>
                                    <strong>Name: </strong>
                                    <span>David Smith</span>
                                </li>
                                <li>
                                    <i class="fa-light fa-phone"></i>
                                    <strong>Phone: </strong>
                                    <span>(+256) 2152 2156</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="widget widget_banner  ">
                        <div class="widget-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sThemeholy!5e0!3m2!1sen!2sbd!4v1658812932163!5m2!1sen!2sbd"></iframe>
                        </div>
                    </div> -->
                </aside>
            </div>
              <div class="page-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/event/event_detail.jpg" alt="Event Image">
                    </div>s
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
