{include file="public/header"/}
<!--==============================
Hero Area
==============================-->
<div class="th-hero-wrapper hero-3" id="hero">
    <div class="th-hero-bg" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/hero_bg_1.jpg">

    </div>
    <div class="container">
        <div class="hero-img jump">
            <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_img.png" alt="">
        </div>
        <div class="hero-style3">
            <span class="hero-subtitle"> Dance With Us </span>
            <h1 class="hero-title">Once a Dancer, is Always a Dancer</h1>
            <div class="btn-group">
                <a href="about.html" class="th-btn blue-btn">Apply Now</a>
                <div class="hero-btn">
                    <a href="https://www.youtube.com/watch?v=rDdcw_p3eJg" class="play-btn border-play-btn popup-video"><i class="fas fa-play"></i></a>
                    <div class="media-body">
                        <a href="https://www.youtube.com/watch?v=rDdcw_p3eJg" class="btn-title popup-video">Play Video
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-anime-img">
        <img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/hero_shape.png" alt="">
    </div>
</div>

<!--======== / Hero Section ========-->
<!--==============================
Form Area
==============================-->
<div class="bg-dark space-top">
    <div class="container">
        <form action="mail.php" method="POST" class="input-form">
            <div class="input-wrap">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                </div>
                <div class="form-group">
                    <select name="subject" id="subject" class="form-select nice-select">
                        <option value="" disabled selected hidden>Select class</option>
                        <option value="Contemporary">Contemporary</option>
                        <option value="Ballet">Ballet</option>
                        <option value="Hip-hop">Hip-hop</option>
                        <option value="Classic">Classic</option>
                        <option value="Modern">Modern</option>
                        <option value="Kid’s">Kid’s</option>
                        <option value="Pole Dance">Pole Dance</option>
                        <option value="Tango">Tango</option>
                        <option value="Pole Dance">Bachata</option>
                    </select>
                </div>
                <div class="form-btn">
                    <button class="th-btn btn-fw blue-btn">Submit now</button>
                </div>
            </div>
            <p class="form-messages mb-0 mt-3"></p>
        </form>
    </div>
</div>
<!--==============================
feature Area
==============================-->
<section class="bg-dark space">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="feature-card">
                    <div class="feature-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/feature/feature_1_1.jpg" alt="feature">
                    </div>
                    <h3 class="feature-card_title"><a href="single-classes.html">Join Our Dance Class</a></h3>
                    <p class="feature-card_text">Intrinsically predominate performance based total linkage and mission-critical.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="feature-card">
                    <div class="feature-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/feature/feature_1_2.jpg" alt="feature">
                    </div>
                    <h3 class="feature-card_title"><a href="single-classes.html">Dance Coreography</a></h3>
                    <p class="feature-card_text">Vivamus suscipit tortor eget felis porttitor volutpat. porttitor lectus nibh.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="feature-card">
                    <div class="feature-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/feature/feature_1_3.jpg" alt="feature">
                    </div>
                    <h3 class="feature-card_title"><a href="single-classes.html">Perform Onstage</a></h3>
                    <p class="feature-card_text">Nulla porttitor accumsan tincidunt. Donec sollicitudin volutpat lectus nibh.</p>
                </div>
            </div>


        </div>
    </div>
</section>
<!--==============================
About Area
==============================-->
<div class="overflow-hidden bg-dark bg-dark" id="about-sec">
    <div class="about-sec-three bg-title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-6">
                    <div class="img-box4">
                        <div class="img4 movingX-reverse">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/about_3.png" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="title-area mb-20">
                        <span class="sub-title style1">We Provide Service Since 2008</span>
                        </span>
                        <h2 class="sec-title text-white">Join a Global In Modern Dance Community</h2>
                    </div>
                    <blockquote class="about-blockquote">
                        <p>Professionally extend plug-and-play systems through stand-alone interfaces. Intrinsically
                            benchmark efficient alignments rather than. Monotonically reinvent inexpensive quality
                            vectors.</p>
                    </blockquote>
                    <p class="about-text mt-n2">Energetically extend ethical paradigms after out-of-the-box alignments.
                        Proactively supply ethical applications for sticky strategic theme areas. Synergistically
                        unleash leading-edge e-commerce rather than superior networks. Assertively network
                        principle-centered.</p>
                    <a href="about.html" class="th-btn blue-btn">About More</a>
                </div>
            </div>
        </div>

        <div class="shape-mockup ripple-animation d-none d-xxl-block" data-top="0%" data-left="0%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_7.png" alt="Shape"></div>
    </div>
</div>
<!--==============================
Servce Area
==============================-->
<section class="overflow-hidden service-area-three bg-dark space" id="service-sec">
    <div class="container">
        <div class="service-wrapper">
            <div class="title-area">
                <span class="sub-title style1  mt-n1">Services</span>
                <h2 class="sec-title mb-0 text-white">Our Service Platform</h2>
            </div>
            <div class="service-btn">
                <a href="single-service.html" class="th-btn blue-btn">View all services</a>
            </div>
        </div>
        <div class="row slider-shadow th-carousel" data-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true">
            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_inner">
                        <div class="service-card_icon">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_2_1.svg" alt="">
                        </div>
                        <div class="service-card_number" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_1_1.jpg">01</div>
                    </div>
                    <div class="service-content">
                        <h3 class="service-card_title"><a href="service-details.html">Personalized Learning</a>
                        </h3>
                        <p class="service-card_text">Interactively cultivate optimal niches whereas client-centered processes. Enthusiastically envisioned.</p>
                        <a href="service.html" class="th-btn blue-border-btn style3">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_inner">
                        <div class="service-card_icon">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_2_2.svg" alt="">
                        </div>
                        <div class="service-card_number" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_1_1.jpg">02</div>
                    </div>
                    <div class="service-content">
                        <h3 class="service-card_title"><a href="service-details.html">Convenient Dancing</a>
                        </h3>
                        <p class="service-card_text">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur porttitor posuere at sem.</p>
                        <a href="service.html" class="th-btn blue-border-btn style3">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_inner">
                        <div class="service-card_icon">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_2_3.svg" alt="">
                        </div>
                        <div class="service-card_number" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_1_1.jpg">03</div>
                    </div>
                    <div class="service-content">
                        <h3 class="service-card_title"><a href="service-details.html">Dance Theater</a>
                        </h3>
                        <p class="service-card_text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.</p>
                        <a href="service.html" class="th-btn blue-border-btn style3">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_inner">
                        <div class="service-card_icon">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_2_1.svg" alt="">
                        </div>
                        <div class="service-card_number" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/icon/service_1_1.jpg">04</div>
                    </div>
                    <div class="service-content">
                        <h3 class="service-card_title"><a href="service-details.html">Personalized Learning</a>
                        </h3>
                        <p class="service-card_text">Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                        <a href="service.html" class="th-btn blue-border-btn style3">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--==============================
Dance Classes Area
==============================-->
<section class="bg-dark" id="classes">
    <div class="dance-sec-3 space bg-title overflow-hidden">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title fs-16 mt-n1">find the one for you</span>
                <h2 class="sec-title text-white">Choose Your Dance Style</h2>
            </div>
            <div class="row gy-4 align-items-center">

                <div class="col-lg-6 order-lg-2">
                    <div class="dance-image movingX">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/dance_1.png" alt="About">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="dance-classes-wrapper">
                        <div class="title-area mb-20">
                            <span class="sub-title fs-md style3">find the one for you</span>
                            </span>
                            <h3 class="sec-title text-white">Break Dance Class</h2>
                        </div>
                        <p class="about-text mt-n2">Energetically extend ethical paradigms after out-of-the-box alignments. Proactively
                            supply ethical applications for sticky strategic theme areas. Synergistically unleash leading-edge
                            e-commerce
                            rather than superior networks. Assertively network principle-centered.</p>
                        <div class="dance-btn">
                            <a href="dance-classes.html" class="th-btn blue-btn">Explore Details</a>
                            <a href="about.html" class="th-btn white-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup ripple-animation d-none d-xxl-block" data-top="32%" data-left="0%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_4.png" alt="Shape"></div>
        <div class="shape-mockup d-none d-xxl-block" data-top="0%" data-right="0%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_5.png" alt="shape"></div>
    </div>
</section>
<!--==============================
Dance Classes Area
==============================-->
<section class="bg-dark">
    <div class="dance-sec-3 space-bottom bg-title overflow-hidden">
        <div class="container">
            <div class="row gy-4 align-items-center ">

                <div class="col-lg-6">
                    <div class="dance-image2 movingX-reverse">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/dance_2.png" alt="About">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="title-area mb-20">
                        <span class="sub-title fs-md style3">find the one for you</span>
                        </span>
                        <h3 class="sec-title text-white">Hip-Hop Dance Class</h3>
                    </div>
                    <p class="about-text mt-n2">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                    <div class="dance-btn">
                        <a href="dance-classes.html" class="th-btn blue-btn">Explore Details</a>
                        <a href="about.html" class="th-btn white-btn">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup d-none d-xxl-block" data-bottom="0%" data-left="0%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_6.png" alt="shape"></div>
        <div class="shape-mockup ripple-animation d-none d-xxl-block" data-top="0%" data-right="0%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_4.png" alt="Shape"></div>


    </div>
    <div class="dance-button">
        <a href="single-Classes.html" class="th-btn btn-fw black-btn style3">View all Classes</a>
    </div>
</section>
<!--==============================
Testimonial Area
==============================-->
<section class="testimonial-area-three bg-dark space" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/map_bg_2.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title mt-n1">Testimonials</span>
            <h2 class="sec-title text-white mb-0">What our students say?</h2>
        </div>
        <div class="testi-grid-tab">
            <div class="tab-slide th-carousel" data-asnavfor=".testi-grid-slide" data-slide-show="5" data-lg-slide-show="5" data-md-slide-show="5" data-sm-slide-show="5" data-xs-slide-show="5" data-center-mode="true" data-xl-center-mode="true" data-ml-center-mode="true" data-lg-center-mode="true" data-md-center-mode="true" data-sm-center-mode="true" data-xs-center-mode="true">

                <div>
                    <div class="slide-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_3_1.jpg" alt="avater">
                    </div>
                </div>


                <div>
                    <div class="slide-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_3_2.jpg" alt="avater">
                    </div>
                </div>


                <div>
                    <div class="slide-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_3_3.jpg" alt="avater">
                    </div>
                </div>


                <div>
                    <div class="slide-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_3_4.jpg" alt="avater">
                    </div>
                </div>


                <div>
                    <div class="slide-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_3_5.jpg" alt="avater">
                    </div>
                </div>


                <div>
                    <div class="slide-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/testimonial/testi_3_6.jpg" alt="avater">
                    </div>
                </div>

            </div>
        </div>
        <div class="testi-grid-area">
            <div class="th-carousel testi-grid-slide" data-asnavfor=".tab-slide" data-slide-show="1" data-fade="true" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true" data-lg-arrows="true" data-infinite="true">
                <div>
                    <div class="testi-grid">
                        <p class="testi-grid_text">Rapaciously syndicate cross-unit imperative rather than unique partnership. Collaboratively mesh error-free catalyst for change without plug-and-play opportunities. Competently synthesize leading-edge leadership skills for resource-leveling portals.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h3 class="testi-grid_name h6">Senjuti das</h3>
                                <span class="testi-grid_desig mb-n2">dance student</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-grid">
                        <p class="testi-grid_text">Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada ultricies feugiat.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h3 class="testi-grid_name h6">Robart Naf</h3>
                                <span class="testi-grid_desig mb-n2">dance student</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-grid">
                        <p class="testi-grid_text">Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h3 class="testi-grid_name h6">Jenifer Lopez</h3>
                                <span class="testi-grid_desig mb-n2">dance student</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-grid">
                        <p class="testi-grid_text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui, Donec sollicitudin molestie Nulla porttitor Vestibulum ac diam sit amet pulvinar malesuada quam.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h3 class="testi-grid_name h6">David Milton</h3>
                                <span class="testi-grid_desig mb-n2">dance student</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-grid">
                        <p class="testi-grid_text">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor Curabitur nulla volutpat.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h3 class="testi-grid_name h6">Michel Richard</h3>
                                <span class="testi-grid_desig mb-n2">dance student</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-grid">
                        <p class="testi-grid_text">Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt at sem.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h3 class="testi-grid_name h6">Santino Pedro</h3>
                                <span class="testi-grid_desig mb-n2">dance student</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testi-quote"><img src="__YUN_PUBLIC_DIR__/static/assets/img/icon/quote_3_1.png" alt=""></div>
</section>
<!--==============================
Cta Area
==============================-->
<section class="bg-dark">
    <div class="container">
        <div class="cta-area-three" data-pos-for=".team-sec-wrapper" data-sec-pos="bottom-half" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/cta_1_2.png">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="cta-content">
                        <h2 class="sec-title text-white mt-n2">Sign Up For Modern Dance Classes</h2>
                        <p class="cta-text">Train under the best dance choreographers. Sign up for dance lessons only a dance studio and learn different dance styles form all over the world like tango, break, hiphop, waltz, ballet and more.</p>
                    </div>
                    <div class="cta-btn2">
                        <a href="{:url('auth/reg')}" class="th-btn blue-btn">Sign Up</a>
                        <a href="{:url('auth/login')}" class="th-btn white-btn">Sign In</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="cta-image movingX">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/cta_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Team Area
==============================-->
<section class="team-sec-three bg-dark">
    <div class="team-sec-wrapper space bg-title" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/team_bg_3.png">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title mt-n1">Dance Teacher</span>
                <h2 class="sec-title text-white">Our Professional Instructor</h2>
            </div>
            <div class="row teamSlide3 slider-shadow th-carousel" id="teamSlide3" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true">
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-item">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_3_1.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Sammy Houston</a></h3>
                            <span class="team-desig">Instructor</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-item">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_3_2.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Jenifer Lopez</a></h3>
                            <span class="team-desig">Coreographer</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-item">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_3_3.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">David Milton</a></h3>
                            <span class="team-desig">Zumba Teacher</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-item">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_3_4.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Santino Pedro</a></h3>
                            <span class="team-desig">Gym Instructor</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4">
                    <div class="th-team team-item">
                        <div class="team-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/team/team_3_5.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Maria D’Soza</a></h3>
                            <span class="team-desig">Yoga Instructor</span>
                        </div>
                        <div class="team-social">
                            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Contact Area
==============================-->
<div class="bg-dark space-top " id="contact-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-image style3">
                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/contact_1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-area mt-n1 mb-35">
                    <span class="sub-title style1">Get In Touch</span>
                    <h2 class="sec-title text-white">Let’s Talk to an expert</h2>
                    <p class="">Efficiently integrate wireless value whereas cross-platform e-tailers.</p>
                </div>
                <form action="mail.php" method="POST" class="contact-us-form style3 ajax-contact">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control" name="number" id="number" placeholder="Phone Number">
                            <i class="fa-regular fa-phone-flip"></i>
                        </div>
                        <div class="form-group col-md-6">
                            <select name="subject" id="subject" class="form-select nice-select">
                                <option value="" disabled selected hidden>Select Subject</option>
                                <option value="Contemporary">Contemporary</option>
                                <option value="Ballet">Ballet</option>
                                <option value="Hip-hop">Hip-hop</option>
                                <option value="Classic">Classic</option>
                                <option value="Modern">Modern</option>
                                <option value="Kid’s">Kid’s</option>
                                <option value="Pole Dance">Pole Dance</option>
                                <option value="Tango">Tango</option>
                                <option value="Pole Dance">Bachata</option>
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Your Message"></textarea>
                            <i class="fal fa-comment"></i>
                        </div>
                        <div class="contact-form-btn col-12">
                            <button class="th-btn blue-btn">Send Message</button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
        </div>
    </div>
    <div class="shape-mockup ripple-animation d-none d-xl-block" data-top="29%" data-left="6%"><img src="__YUN_PUBLIC_DIR__/static/assets/img/shape/shape_8.png" alt="shape"></div>
</div>
<!--==============================
Blog Area
==============================-->
<section class="blog-area-two bg-dark space" id="blog-sec">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title mt-n1">Blog & News</span>
            <h2 class="sec-title text-white">Our Latest News & Articles</h2>
        </div>
        <div class="row blog-slide3 slider-shadow th-carousel" id="blogSlide1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/blog_3_1.jpg" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>Oct 15, 2023</a>
                        <a href="blog.html"><i class="fa-solid fa-tags"></i>classic dance</a>
                    </div>
                    <h3 class="blog-title box-title"><a href="blog-details.html">10 Tips For Taking Online Classic Dance Classes</a></h3>
                    <a href="blog-details.html" class="th-btn blue-border-btn">Read More</a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/blog_3_2.jpg" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>Oct 20, 2023</a>
                        <a href="blog.html"><i class="fa-solid fa-tags"></i>Pole Dance</a>
                    </div>
                    <h3 class="blog-title box-title"><a href="blog-details.html">The Biggest Online Classic Dance Classes To Humanity.</a></h3>
                    <a href="blog-details.html" class="th-btn blue-border-btn">Read More</a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/blog_3_3.jpg" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>Oct 25, 2023</a>
                        <a href="blog.html"><i class="fa-solid fa-tags"></i>Ballet dance</a>
                    </div>
                    <h3 class="blog-title box-title"><a href="blog-details.html">10 Things To Avoid In Online Classic Dance Classes</a></h3>
                    <a href="blog-details.html" class="th-btn blue-border-btn">Read More</a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card style3">
                    <div class="blog-img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/blog_3_4.jpg" alt="blog image">
                    </div>
                    <div class="blog-meta">
                        <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>Oct 30, 2023</a>
                        <a href="blog.html"><i class="fa-solid fa-tags"></i>Modern dance</a>
                    </div>
                    <h3 class="blog-title box-title"><a href="blog-details.html">Make Before Using Online Classic Dance Classes</a></h3>
                    <a href="blog-details.html" class="th-btn blue-border-btn">Read More</a>
                </div>
            </div>


        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
