{include file="public/header"/}
<!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Event Details</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Event Details</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
Event Area  
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="page-single event-single">
                        <div class="page-img">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/normal/2022.png" alt="Event Image">
                        </div>
                        <h3 class="h3 mt-n2">**T.nt舞蹈工作室舞团招募！**</h3>
                        <p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">想成为一名舞蹈家吗？渴望在灯光下展现自己的风采吗？想要成为出色的公众人物吗？那就加入我们舞团吧！</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">为什么选择 </span><span style="font-family:Calibri">T.nt Crew</span><span
                                        style="font-family:宋体">？</span><span style="font-family:Calibri">**</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">家庭氛围</span><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">：我们是一个充满热情、支持和团结的大家庭。在这里，你不仅是一名成员，更是我们的一部分。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">舞台机会</span><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">：我们定期举办精彩的演出和比赛，让你有机会在舞台上展示自己的才华，与观众分享你的激情。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">社交活动</span><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">：除了舞蹈课程和演出，我们还定期组织各种社交活动和聚会，让你有机会结识新朋友，建立联系，扩大人脉圈。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**MV</span><span
                                        style="font-family:宋体">拍摄</span><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">：包括定期拍摄含</span><span style="font-family:Calibri">Hiphop</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">Kpop</span><span
                                        style="font-family:宋体">、编舞等不同舞蹈风格的作品，包装、宣传和曝光、提升专业形象、创意表现、团队合作和艺术展示。通过精心制作的音乐和舞蹈视频，增加品牌知名度、吸引观众、展示团队实力，以及促进团队合作和艺术表现。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">提供工作机会</span><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">：舞蹈功底扎实，有</span><span style="font-family:Calibri">hiphop</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">kpop</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">jazzfunk</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">breaking</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">popping</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">locking</span><span
                                        style="font-family:宋体">等不同年龄段的街舞教学经验，通过考核培训后可以成为我们的舞蹈老师。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">社交媒体运营支持</span><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">：内容策划、账号管理、粉丝互动、推广活动、数据分析和合作伙伴关系管理等方面，提升个人和舞蹈工作室在社交媒体上的曝光度、用户参与度和品牌影响力。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">我们正在寻找的成员：</span><span style="font-family:Calibri">**</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-hiphop</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">kpop</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">jazzfunk</span><span
                                        style="font-family:宋体">舞者</span><span style="font-family:Calibri">/</span><span
                                        style="font-family:宋体">导师，演绎、舞者</span><span style="font-family:Calibri">/</span><span
                                        style="font-family:宋体">艺人，业余兴趣爱好者</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">- </span><span
                                        style="font-family:宋体">对舞蹈充满热情和才华</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">- </span><span
                                        style="font-family:宋体">具有团队合作精神，愿意与他人共同成长</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">- </span><span
                                        style="font-family:宋体">有良好的学习态度和自我驱动力</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">青春、靓丽、有活力</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">社交媒体运营和管理，可剪辑视频，编辑文案</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">丰富的舞台表演经验</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">有舞团组织和活动策划执行能力优秀的个人</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">成熟且重视集团荣誉，有契约精神</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">**</span><span
                                        style="font-family:宋体">如何加入？</span><span style="font-family:Calibri">**</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">想要成为 </span><span style="font-family:Calibri">T.nt Crew </span><span
                                        style="font-family:宋体">的一员吗？无论你是个人还是团队，通过考核后，都可以加入</span><span style="font-family:Calibri">T.nt
                                        Crew</span><span style="font-family:宋体">，对年龄不受限制，</span><span style="font-family:Calibri">18</span><span
                                        style="font-family:宋体">岁以下须经过父母同意并且支持；</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">已有的</span><span style="font-family:Calibri">hiphop</span><span
                                        style="font-family:宋体">、</span><span style="font-family:Calibri">kpop</span><span
                                        style="font-family:宋体">等舞团组织可以成为</span><span style="font-family:Calibri">T.nt Crew</span><span
                                        style="font-family:宋体">子团，优秀的成员通过考核后可进入</span><span style="font-family:Calibri">T.nt Crew</span><span
                                        style="font-family:宋体">总团，子团在成功签订合作协议后可得到免费舞房练习，社交媒体广告支持，舞台表演机会，舞蹈技能培训，活动、服装道具及</span><span
                                        style="font-family:Calibri">MV</span><span style="font-family:宋体">拍摄支持。重视双方利益，珍惜合作关系。</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">有意愿加入</span><span style="font-family:Calibri">T.nt Crew</span><span
                                        style="font-family:宋体">的初学者或者进阶学者可继续参与线下培训课程，成为</span><span style="font-family:Calibri">T.nt dance
                                        studio</span><span
                                        style="font-family:宋体">的学员，提升舞蹈技能，积极参与并支持舞蹈工作室的各类活动，鼓励支持学员成立子团，融入集体，得到关注并通过考核后也可以加入</span><span
                                        style="font-family:Calibri">T.nt Crew</span><span style="font-family:宋体">！</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">立即联系我们，让我们一起开启舞蹈之旅！</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">招募流程：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">⁃</span> <span style="font-family: 宋体;font-size: 14px"><span
                                        style="font-family:宋体">第一轮初选截止日期</span><span style="font-family:Calibri">2024</span><span
                                        style="font-family:宋体">年</span><span style="font-family:Calibri">5</span><span
                                        style="font-family:宋体">月</span><span style="font-family:Calibri">15</span><span
                                        style="font-family:宋体">日</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">请将以下信息发至我们</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">个人</span><span
                                        style="font-family:Calibri">/</span><span style="font-family:宋体">舞团名称：</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">年龄：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">简介：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">联系电话：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">邮箱：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">居住地址：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">社交媒体账号：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">展示视频片段：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">⁃</span> <span style="font-family: 宋体;font-size: 14px"><span
                                        style="font-family:宋体">初选通过后进入第二轮，</span><span style="font-family:Calibri">6</span><span
                                        style="font-family:宋体">月</span><span style="font-family:Calibri">2</span><span
                                        style="font-family:宋体">日，在</span><span style="font-family:Calibri">T.nt</span><span
                                        style="font-family:宋体">舞蹈工作室，进行线下面试</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">线下考核内容：</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">自我介绍</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">基本功展示</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:Calibri">-</span><span
                                        style="font-family:宋体">个人风格</span><span style="font-family:Calibri">solo</span></span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px">&nbsp;</span>
                            </p>
                            <p style=";text-align: justify;font-family: Calibri;font-size: 14px;text-wrap: wrap">
                                <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">不要错过成为</span> <span
                                        style="font-family:Calibri">T.nt Crew </span><span
                                        style="font-family:宋体">的机会！加入我们，一起跳出属于你自己的舞蹈旋律！</span></span>
                            </p>
                            <p>
                                <br />
                            </p>
                        </p>
                        <!-- <h4 class="h4 mb-25">What You Will Learn?</h4>
                        <div class="checklist style2">
                            <ul>
                                <li>How to use social media to reach local, national and international audiences</li>
                                <li>How to set up and market events, using online tools, so you no longer depend</li>
                                <li>How to create and run online shows, adapt your performance techniques and</li>
                                <li>Mentoring and troubleshooting and post-training support from Jason</li>
                                <li>How to use social media to reach local, national and international audiences</li>
                                <li>How to set up and market events, using online tools</li>
                                <li>Adapt your performance techniques and manage your audience throughout</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar-area">
                        <div class="widget widget_info  ">
                            <!-- <a href="https://calendar.google.com/calendar/" class="th-btn">Add To Calendar</a>
                            <a href="rsvp.html" class="th-btn red-border">Ical Export</a> -->
                            <h3 class="widget_title">Event Information</h3>
                            <div class="info-list">
                                <ul>
                                    <li>
                                        <i class="fa-light fa-calendar-days"></i>
                                        <strong>Fist Date: </strong>
                                        <span>2024 年 5 月 15 日</span>
                                    </li>
                                    <li>
                                        <i class="fa-light fa-clock"></i>
                                        <strong>Second Date: </strong>
                                        <span>2024 年 6 月 2 日</span>
                                    </li>
                                    <li>
                                        <i class="fa-light fa-location-dot"></i>
                                        <strong>Venue: </strong>
                                        <span>School Of Arts</span>
                                    </li>
                                    <li>
                                        <i class="fa-light fa-map"></i>
                                        <strong>Address: </strong>
                                        <span>256 SDY Oliva St.</span>
                                    </li>
                                    <li>
                                        <i class="fa-light fa-user"></i>
                                        <strong>Name: </strong>
                                        <span>David Smith</span>
                                    </li>
                                    <li>
                                        <i class="fa-light fa-phone"></i>
                                        <strong>Phone: </strong>
                                        <span>(+256) 2152 2156</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="widget widget_banner  ">
                            <div class="widget-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sThemeholy!5e0!3m2!1sen!2sbd!4v1658812932163!5m2!1sen!2sbd"></iframe>
                            </div>
                        </div> -->
                    </aside>
                </div>
            </div>
        </div>
    </section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
