{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Single classes</h1>
            <ul class="breadcumb-menu">
                <li><a href="{:url("index/index")}">Home</a></li>
                <li>School Detail</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Dance Area
==============================-->
<section class="th-dance-wrapper dance-details space">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-lg-12">
                <div class="th-dance page-single">
                    <div class="dance-img mb-35" >
                        <img style="width: 100%" src="{$info.img_url}" alt="Dance Image">
                    </div>
                    <div class="dance-single-wrapper">
                        <div class="">
                            <h2 class="page-title">{$info.shop_name_en}</h2>
                            {$info.text_detail}
                            <p>Proactively underwhelm just in time interfaces whereas extensible leadership skills.
                                Uniquely develop vertical paradigms and client-centered internal or "organic" source.
                                Dynamically transition end-to-end experiences rather than customer directed experiences.
                                Completely evisculate cooperative methods of empowerment.
                            </p>
                            <p>Proactively streamline real-time infomediaries whereas covalent information. Seamlessly
                                simplify resource-leveling ROI for pandemic materials.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->

{include file="public/footer"/}
