{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">User Center</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>User Center</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Dance Classes Area
==============================-->
 <style>
        .none {
            display: none;
        }

        .selected {
            background: #eb0029 !important;
            color: white !important;
        }
    </style>
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-xl-9 col-lg-8">
                    <div class="none" id="userInfo">
                        <form action="mail.php" method="POST" class="login-form ajax-contact">
                            <h5 class="form-title">用户信息修改</h5>
                            <div class="row">
                                <div class="form-group">
                                    <label>用户名</label>
                                    <input type="text" class="form-control style-white" name="name" id="name" placeholder="">
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="form-group style-3">
                                    <label>密码</label>
                                    <input type="password" class="form-control style-white" name="password" id="password" placeholder=""
                                        require="">
                                    <i class="fa-solid fa-eye-slash"></i>
                                </div>
                                <div class="form-btn col-12 text-center">
                                    <button class="th-btn w-100">修改</button>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3"></p>
                        </form>
                    </div>
                    <div class="none" id="userWallet">
                        用户钱包
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="widget widget_categories  ">
                        <h3 class="widget_title">账户信息<span class="shape"></span></h3>
                        <ul>
                            <li>
                                <a class="selected" onclick="showMenu('userInfo')" href="javascript:;">账户信息</a>
                                <i class="selected fa-regular fa-arrow-right"></i>
                            </li>
                            <li>
                                <a onclick="showMenu('userWallet')" href="javascript:;">用户钱包</a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        showMenu('userInfo')
        function showMenu(id) {
            let list = ['userInfo', 'userWallet']
            list.forEach(item => {
                let info = document.getElementById(item)
                if (item === id) {
                    info.style.display = 'block'
                } else {
                    info.style.display = 'none'
                }
            })
        }
    </script>
<!--==============================
Footer Area
==============================-->


{include file="public/footer"/}
