{include file="public/header"/}

{include file="user/top"/}
<style>
    .state-1 {
        background-color: transparent;
        border: 1px solid var(--theme-color);
        color: var(--theme-color);
        position: relative;
        z-index: 2;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        /* background-color: var(--theme-color); */
        /* color: var(--white-color); */
        font-family: var(--title-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 7px 19px;
        border-radius: 10px;
    }

    .state-2 {
        background-color: transparent;
        border: 1px solid var(--theme-color);
        color: var(--theme-color);
        position: relative;
        z-index: 2;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        border: none;
        text-align: center;
        background-color: var(--theme-color);
        color: var(--white-color);
        font-family: var(--title-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 8px 20px;
        border-radius: 10px;
    }
          .select {
            background: var(--theme-color) !important;
            color: var(--white-color) !important;
        }
</style>
<section class="th-blog-wrapper space-top space-extra-bottom">
    <div class="container">
         <div class="row flex-row">
              {include file="user/left_menu"/}
            <div class="col-xl-9 col-lg-8">
                  <div class="th-blog blog-single has-post-thumbnail">
            <input type="hidden" name="url" id="url" value="{$url}">
            <div class="blog-content">
                <h2 class="blog-title">{$userInfo.name}
                </h2>
                <div class="blog-meta">
                    <a href="#">{$Think.lang.ExpiryDate}: <i class="fa-light fa-calendar-days"></i>{$userInfo.expiry_date_en}</a>
                </div>
                <p class="blog-text">{$Think.lang.ResidueDegree}: {$userInfo.residue_quantity}</p>
                <div class="blog-img" style="padding: 30px 0;">
                    <a href="blog-details.html">
                        <div style="width: 100%;text-align: center;" id="qrcode"></div>
                    </a>

                </div>
<!--                <a href="blog-details.html" class="th-btn" style="width: 100%;">生成</a>-->
            </div>
        </div>
        <div class="tab-pane fade active show" id="detaiList" role="tabpanel">
                  </div>
                   </div>
                   
           
      
            <!--
            <div class="event-item" style="position: relative;">
                <div class="event-item_wrapper">
                    <div class="event-item-wrapp" style="flex: 1;">
                        <div class="event-item_content">
                            <div class="event-item_list">
                                <h3 class="event-item_title">课程名称</h3>
                                <span class="event-item_time"><i class="fa-regular fa-clock"></i>08:00AM -10:00PM</span>
                                <span class="event-item_location"><i class="fal fa-user"></i>老师</span>
                            </div>
                            <div class="event-btn" style="right: 20px;top: 0;">
                                <div class="state-1">已预约</div>
                                <div class="state-2">已签到</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            >-->
        </div>
        <div class="th-pagination text-center mt-30">
            <ul id="pagination">
                <li id="prePage" data-id="prePage" onclick="toPage('previous')" class="page_btn"><span><i class="far fa-arrow-left"></i></span></li>
                <li><span style="width: auto;padding: 0 15px;display:flex"><div id="now-page">1</div> <div style="margin: 0 5px">
                    /
                </div> <div id="total-page">1</div></span></li>
<!--                            <li><span onclick="toPage(3)">3</span></li>-->
                <li id="nextPage" data-id="nextPage" onclick="toPage('next')"  class="page_btn"><span><i class="far fa-arrow-right"></i></span></li>
            </ul>
        </div>
      
        <!--<input type="text" name="page_num" id="page_num" value="1">-->
    </div>
</section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
<script type="text/javascript" src="__YUN_PUBLIC_DIR__/static/js/jquery.qrcode.min.js"></script>
<script>
 function toPage(type) {
    if (type === 'next') {
        if (nowPage < totalPage) {
             nowPage += 1
        }
    } else {
        if (nowPage > 1) {
            nowPage -= 1
        }
    }
    ajaxList(nowPage)
}
function ajaxList(page){
    limit = 20;
    $.ajax({
        "url": "{:url('ajaxList')}",
        "data": {"page": page, "limit": limit},
    }).done(function (rs) {
        console.log('rs', rs)
        var html = '';

        for (const rsKey in rs.list) {
            if(rs.list[rsKey].status == 0){
                $status_html = '<div class="state-1">'+rs.list[rsKey].status_text+'</div>';
            }else{
                $status_html = '<div class="state-2">'+rs.list[rsKey].status_text+'</div>';
            }

            html += '<div class="event-item" style="position: relative;">\n' +
                '                            <div class="event-item_wrapper">\n' +
                '                                <div class="event-item-wrapp" style="flex: 1;">\n' +
                '                                    <div class="event-item_content">\n' +
                '                                        <div class="event-item_list">\n' +
                '                                            <h3 class="event-item_title">'+rs.list[rsKey].course_name+'</h3>\n' +
                '                                            <span class="event-item_time"><i class="fa-regular fa-clock"></i>'+rs.list[rsKey].day_short+' ('+rs.list[rsKey].start_time+' - '+rs.list[rsKey].end_time+')</span>\n' +
                '                                            <span class="event-item_location"><i class="fal fa-user"></i>'+rs.list[rsKey].teacher_name+'</span>\n' +
                '                                        </div>\n' +
                '                                        <div class="event-btn" style="right: 20px;top: 0;">\n' +
                $status_html+
                '                                        </div>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>';
        }
        let pageHtml = ''
        totalPage = Math.ceil(rs.count / limit)
        $('#now-page').html(page)
         $('#total-page').html(totalPage)
        // for (let index = 1; index <= rs.count; index++) {
        //   pageHtml += '<li onclick="toPage('+index+')"><span id="page-' + index + '">' + index + '</span></li>';
        // }
        // $('#pagination').html(pageHtml)
        // $('#prePage').html('');
        // $('#prePage').after(pageHtml);
        $('#detaiList').html(html);
        // changeCheck(page)

    }).fail(function (rs) {
        layer.msg('{$Think.lang.OperateFailed}');
    });
}

function changeCheck(page) {
    for (let index = 1; index <= totalPage; index++) {
        if (index === page) {
            $('#page-' + index).addClass('select')
        } else {
            $('#page-' + index).removeClass('select')
        }
    }
}
$(function () {

    $('#qrcode').qrcode({
        width: 260,
        height: 260,
        text: "{$url}"
    });
    ajaxList(1)


    nowPage = 1
    totalPage = 0
    // $('.page_btn').on('click',function (){
    //     console.log($(this).data('id'))

    //     if ($(this).data('id') === 'prePage') {
    //         nowPage -= 1
    //     }else {
    //         nowPage += 1
    //     }
    //     $('#page_num').val(nowPage)
    //     ajaxList(nowPage)
    // })

})

</script>
