.cta-area {
    position: relative;
    background: #6B2AE6;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 100px 0;
    z-index: 9;

    @include sm {
        padding: 80px 10px;  
    }

    @include xs {
        padding: 40px 20px;
    }
}

.cta-area-three {
    position: relative;
    padding: 80px;
    border-radius: 20px;
    border-bottom: 10px solid #272C39;
    z-index:9; 
    overflow: hidden;
    @include lg{
        padding: 40px; 
    }
    @include sm{
        padding: 20px;
    }
    &:before{
        content:""; 
        position: absolute;
        inset: 0;
        width:100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 20px;
        z-index: -1;
    }

    .cta-content {
        max-width: 515px;
        @include sm{
            max-width: 100%;
            text-align: center;
        }

        .sec-title {
            margin-bottom: 21px;
            @include lg{
                font-size: 30px;
            }
        }

        .cta-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #6A7178;
            margin-bottom: 33px;
        }
    }

    .cta-image {
        position: absolute;
        bottom: 0;
        // @include md{ 
        //     display: none;
        // }
        img{
            @include lg{
                max-width:80%;
            }
            @include md{ 
                max-width: 100%;  
            }
            @include sm {
                display: none;
            }
        }
    }

    .cta-btn2 {
        @include sm{
            text-align: center; 
        }
        .th-btn {
            padding: 15px 50px;
            margin-right: 10px;
            @include md{
                padding: 12px 30px;
                line-height: 20px;
            }
        }
    }
}

.cta-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    color: $white-color;
    margin-bottom: 23px;
}

.cta-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: $smoke-color;
}

.cta-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include xs {
        gap: 10px;
        // display: block;
        .th-btn {
            margin-top: 10px;
        }
    }

    @include vxs {
        display: block;

        .th-btn {
            margin-top: 10px;
        }
    }
}

@include md {
    .sec-title.cta-title {
        font-size: 34px;

        img {
            max-width: 64px;
        }
    }
}

@include sm {
    .sec-title.cta-title {
        font-size: 32px;

        img {
            display: none;
        }
    }
}

@include xs {
    .sec-title.cta-title {
        font-size: 30px;
        line-height: 42px; 
    }
}