/* Pricing 1 ---------------------------------- */
.available-list {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        position: relative;
        font-family: $body-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
        padding-left: 30px;
        text-transform: capitalize;
        color: $body-color;

        &:last-child {
            margin-bottom: 0;
        }

        &:after {
            content: "\f00c";
            font-family: $icon-font;
            font-weight: 600;
            color: $theme-color-2;
            font-size: 1.1em;
            vertical-align: text-top;
            position: absolute;
            top: 1px;
            left: 0;
        }

        &.unavailable {
            color: $gray-color;

            &:after {
                content: "\f00c";
                right: 4px;
                color: $gray-color;
            }
        }
    }
}

.price-card {
    position: relative;
    background-color: $white-color;
    box-shadow: 0px 10px 15px rgba(229, 229, 229, 0.3);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;

    @include md {
        padding: 30px;
    }
    @include vxs {
        padding: 20px; 
    }

    &_title {
        position: relative;
        background-color: $theme-color-2;
        font-family: $style-font;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: $white-color;
        text-transform: capitalize;
        min-width: 347px;
        min-height: 56px;
        margin-left: -40px;
        padding: 8px 40px;
        margin-bottom: 33px;
        margin-top: 0;
        clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);  

        // clip-path: path("M0 0H342.059C343.857 0 344.742 2.18649 343.451 3.4368L319.567 26.5632C318.756 27.3491 318.756 28.6509 319.567 29.4368L343.451 52.5632C344.742 53.8135 343.857 56 342.059 56H0V0Z");

        @include vxs {
            min-width: 100%;
            max-width: 260px;
        }
    }

    &_price {
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: $title-color;
        position: relative;
        display: block;
        max-width: fit-content;
        padding: 0 30px;
        margin-bottom: 26px;

        .currency {
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            font-family: $body-font;
            position: absolute;
            top: 0px;
            left: 0px;
            right: auto;
            color: $theme-color-2;
        }

        .duration {
            font-size: 16px;
            font-weight: 500;
            color: $title-color;
            margin-bottom: 0;
            position: absolute;
            bottom: -10px;
            white-space: nowrap;
        }
    }

    &_content {}

    &_text {
        padding-bottom: 25px;
        margin-bottom: 28px;
        border-bottom: 1px solid $theme-color;
        text-align: center;
    }

    .th-btn {
        width: 100%;
        background-color: $title-color;

        &:before,
        &:after {}


        &:hover {
            background-color: $theme-color-2;
        }
    }

    &.active {
        .th-btn {
            background-color: $theme-color-2;

            &:hover {
                background-color: $title-color;
            }
        }
    }
}

.price-btn {
    margin-top: 33px;
}


@include xl {
    .price-card_title {
        img {
            max-width: 70px;
        }
    }
}