<footer class="footer-wrapper bg-dark footer-layout3">
    <div class="footer-area space bg-title" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/footer_bg_3.png" style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-logo mb-40 text-center">
                        <a href="index.html"><img src="__YUN_PUBLIC_DIR__/static/assets/img/hand_by_hand-log.png" alt="Danza"></a>
                    </div>
                    <ul class="footer-menu">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li><a href="about.html">About</a></li>
<!--                        <li><a href="dance-classes.html">Classes</a></li>-->
<!--                        <li><a href="#">Pages</a></li>-->
<!--                        <li><a href="blog.html">Blog</a></li>-->
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                    <div class="widget footer-widget style2 mb-30">
                        <div class="th-widget-contact style3">
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-regular fa-location-dot"></i>
                                </div>
                                <p class="info-box_text">
                                    Room No.404、406、408，The Icon DSO，Dubai，UAE
                                </p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-regular fa-phone"></i>
                                </div>
                                <p class="info-box_text">
                                    <a href="tel:+(971)585453666" class="info-box_link">+971-58 545 3666</a>
                                    <a href="tel:+(971)045293528" class="info-box_link">‎+971-04-529 3528</a>
                                    <a href="tel:+(971)585330846" class="info-box_link">Franchise:+971585330846</a>
                                </p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-regular fa-envelope"></i>
                                </div>
                                <p class="info-box_text">
                                    <a href="mailto:info@hbhinstitute.com" class="info-box_link">info@hbhinstitute.com</a>
<!--                                    <a href="mailto:info@Danza.com" class="info-box_link">info@danza.com</a>-->
                                </p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon">
                                    <i class="fa-regular fa-clock"></i>
                                </div>
                                <p class="info-box_text">Tuesday to Sunday 10:00AM-10:00PM</p>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="widget footer-widget mb-0">
                        <div class="th-social footer-social">
                            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://google.com"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2023 By
                        <a href="Http://www.bootstrapmb.com">Danza</a>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="footer-copyright-right style3">
                        <ul>
                            <li><a href="terms-conditions.html">Terms of use </a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--********************************
        Code End  Here
******************************** -->
<!-- Scroll To Top -->
<div class="scroll-top style3">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
        </path>
    </svg>
</div>
<!--==============================
All Js File
============================== -->
<!-- Jquery -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- Slick Slider -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/slick.min.js"></script>
<!-- Bootstrap -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/bootstrap.min.js"></script>
<!-- Magnific Popup -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Counter Up -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/jquery.counterup.min.js"></script>
<!-- Range Slider -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/jquery-ui.min.js"></script>
<!-- Isotope Filter -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- Isotope pkgd -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/isotope.pkgd.min.js"></script>
<!-- Tweenmax File -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/tweenmax.min.js"></script>
<!-- Tweenmax File -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/nice-select.min.js"></script>
<!-- Main Js File -->
<script src="__YUN_PUBLIC_DIR__/static/assets/js/main.js"></script>

</body>

</html>
