<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{$title}</title>
    <meta name="author" content="Themeholy">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="__YUN_PUBLIC_DIR__/static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="__YUN_PUBLIC_DIR__/static/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Norican&family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/style.css">
    <link rel="stylesheet" href="__YUN_PUBLIC_DIR__/static/assets/css/message.min.css">

    <script src="__YUN_PUBLIC_DIR__/static/assets/js/message.min.js"></script>
    <script src="__YUN_PUBLIC_DIR__/static/js/jquery.min.js"></script>
</head>

<body class="theme-blue">


<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->


<!--==============================
Mobile Menu
============================== -->
<div class="th-menu-wrapper">
    <div class="th-menu-area style3 text-center">
        <button class="th-menu-toggle style3"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="{:url('index/index')}"><img src="__YUN_PUBLIC_DIR__/static/assets/img/hand_by_hand-log.png" alt="Danza"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li><a href="{:url('index/index')}">Home</a></li>
                <li><a href="{:url('index/about')}">About</a></li>
<!--                <li class="menu-item-has-children">
                    <a href="#">Courses</a>
                    <ul class="sub-menu">
                        <li><a href="{:url('Classes/dance_classes')}">Dance Classes</a></li>
                        <li><a href="{:url('Classes/single_classes')}">Single Classes</a></li>
                        <li><a href="{:url('Classes/schedule_classes')}">Class Schedule</a></li>
                    </ul>
                </li>-->
                <li><a href="{:url('BookCourse/index')}">Reservation</a></li>
                <li><a href="{:url('index/contact')}">Contact Us</a></li>
                <li><a href="{:url('User/qrcode')}">User</a></li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Header Area
==============================-->

<style scoped>
.user-name {
    color:var(--white-color);
    text-decoration:underline;
}
.user-name:hover{
    color:var(--success-color);
}
</style>
<header class="th-header header-layout3 header-absolute">
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="{:url('index/index')}"><img src="__YUN_PUBLIC_DIR__/static/assets/img/hand_by_hand-log.png" alt="Danza"></a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li><a href="{:url('index/index')}">Home</a></li>
                                <li><a href="{:url('index/about')}">About</a></li>
                                <!--
                                <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="#">ShopA</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">ShopA2</a></li>
                                                <li><a href="shop.html">ShopA3</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">ShopB</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">ShopB2</a></li>
                                                <li><a href="shop.html">ShopB3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                -->
                                <li class="menu-item-has-children">
                                    <a href="#">Courses</a>
                                    <ul class="sub-menu">
                                        <li><a href="{:url('Classes/dance_classes')}">Dance Classes</a></li>
                                        <li><a href="{:url('Classes/single_classes')}">Single Classes</a></li>
                                        <li><a href="{:url('Classes/schedule_classes')}">Class Schedule</a></li>
                                    </ul>
                                </li>
                                <li><a href="{:url('BookCourse/index')}">Reservation</a></li>
                                <li>
                                    <a href="{:url('index/contact')}">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                        <button type="button" class="th-menu-toggle style3 d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-button">
                            {if !empty($userName)}
                            <a href="{:url('user/qrcode')}" class="user-name" style="">{$userName}</a>
                            <a href="/auth/logout.html" class="" style="color:var(--white-color)">logout</a>
                            {else/}
                            <a href="{:url('auth/login')}" class="th-btn blue-btn">Login Now</a>
                            {/if}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

