{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<!--<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">-->
<!--    <div class="container">-->
<!--        <div class="breadcumb-content">-->
<!--            <h1 class="breadcumb-title">Dance Classes</h1>-->
<!--            <ul class="breadcumb-menu">-->
<!--                <li><a href="index.html">Home</a></li>-->
<!--                <li>Dance Classes</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="th-hero-wrapper hero-1" id="hero">
    <div class="hero-slider-1 number-dots th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true">

        <div class="th-hero-slide">
            <div class="th-hero-bg" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_bg_1_1.jpg">
                <div class="hero-shape">
                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/hero/hero_shape_1.svg" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="hero-style1">
                    <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Let’s Dance!</span>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Join The Incredible</h1>
                    <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">World Of <span class="text-theme">Dance!</span></h1>
                    <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. </p>
                    <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                        <a href="contact.html" class="th-btn red-btn">留学咨询</a>
                        <a href="about.html" class="th-btn style2">流程介绍</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--==============================
Dance Classes Area
==============================-->
<section class="space">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_1.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS 迪拜皇家学校 (RDS)</a></h3>
                    <p class="couple-card_text">位于 Mirdif 中心的 BSO 优秀、高绩效、包容性和以家庭为导向的社区。在 RDS，我们的学生有权学习和发展，并得到支持，在不断变化的世界中成为成功、自信的贡献者。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_2.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">The Indian High School</a></h3>
                    <p class="couple-card_text">这所学校成立于 1961 年，位于一栋只有 5 名学生的小别墅内，成为商界人士可以让他们的孩子在迪拜得到完整家庭单位的关爱照顾的原因。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_3.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Delhi Private School</a></h3>
                    <p class="couple-card_text">印度学制（CBSE/ICSE/GICSE）
因为印度人在阿联酋占有绝对的人口数量优势，印度人随处可见，因此印度学校在阿联酋也是遍地开花。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_4.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Jebel Ali School</a></h3>
                    <p class="couple-card_text">建校42年的Jeb Ali School，阿联酋排名前五，英制A-level学制，学龄从幼儿园到高中全覆盖，学生来自54个不同国籍，小学6年每年的学费只要9万人民币，不管从教育环境，教育水准和国际化程度上都领先国内很多国际学校，收费却比国内低了至少30%，学成毕业后也更容易申请考入国际一流大学。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_5.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS Our Own English High School</a></h3>
                    <p class="couple-card_text">GEMS我们的英语学校（OOD）是阿联酋最古老的学校之一，也是GEMS旗下众多学校中的领头羊，近四十年来一直为来自世界各地的学生提供优质教育。我校虽然教授印度课程，但是是一所国际学校，学生来自20多个不同国家。我们很自豪可以为学生提供全方位的学习体验，并将他们培养成各个领域的佼佼者。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_6.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">The Millenium School</a></h3>
                    <p class="couple-card_text">千禧学校是 CBSE 附属男女同校的全国连锁学校，由千禧学习系统TM提供支持。我们的思想和理念基于根深蒂固的印度价值观和与全球思维相结合的丰富文化。我们的政策体现了对所有利益相关者需求的活力和敏感性。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_7.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Delhi Private School</a></h3>
                    <p class="couple-card_text">在阿吉曼德里私立学校，卓越的教育和承诺对于创造有意义的教学环境至关重要，为每个孩子提供优质教育。DPS 认为，孩子们对教育的热爱应该在幼儿时期在充满积极性的环境中培养</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_8.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Cardio Dance</a></h3>
                    <p class="couple-card_text">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sit amet aliquam.</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">The Winchester School-DUBAI BRANCH</a></h3>
                    <p class="couple-card_text">迪拜温彻斯特学校是迪拜最受欢迎的学校之一，2003年以来一直致力于为来自世界各地的学生教授英国国家课程。由于我们地理位置优越，教学设施先进，并且拥有教育质量高但是价格亲民的美誉，所以我校是许多家庭的首选。温彻斯特学校的孩子们个性独特，多才多艺，是我们的灵感和动力源泉。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS Wellington Academy -Fze</a></h3>
                    <p class="couple-card_text">GEMS惠灵顿（硅谷绿洲校区）是世界一流的英国课程学校，是一个独特的地方，每个孩子都演绎着独特的独属于他的故事。
学校十分重视孩子们的独特性，发掘孩子们的想象力，鼓励孩子们发挥各种才能，以培养出健康、自信和独立的人格。</p>
                    <!--<a href="single-classes.html" class="th-btn style3">Explore Details</a>-->
                </div>
            </div>
                 <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Uptown International School</a></h3>
                    <p class="couple-card_text">阿卜顿国际学校隶属于塔礼姆集团，是阿联酋最好的学校之一。处在Mirdif地区的核心位置，校园内各种活动设施应有尽有，包括科学实验室、图书馆、ITC、游泳池及自助餐厅等等。UIS教会学生如何辩证思考、丰富想象力、养成良好的性格、建立可贯穿终生的友谊，迎接21世纪的各类挑战。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS World Academy</a></h3>
                    <p class="couple-card_text">GEMS世界学院迪拜分校（GWA）是一所真正意义上的国际学校。自2008年开始招生以来，学校已经成长为了一所属于年轻世界公民的国际学院，在这里学生可以从优于任何一个国家课程的教育中获得无穷的受益。我校约有来自85个国家的2000名学生，多元文化社区让我们有机会理解人与人之间的不同，同时随着世界联系日益紧密，我们也会更加尊重彼此的共同之处。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Universal American School-Branch</a></h3>
                    <p class="couple-card_text">联合美国学校成立于2005年，是一家位于城市中心的小型非营利学校。学校提供具有挑战性的美国和国际教育，使学生成为能够关心个人，批判性思考和负责任的全球公民。在2019 - 2020年，学校将提供第一批AP和共同核心课程，这些课程将为11年级和12年级的学生开设IB文凭课程，这一平行课程将使学生能够在他们的教育中做出更个性化的选择。</p>
                </div>
            </div>
                <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Raffles World Academy</a></h3>
                    <p class="couple-card_text">莱佛士国际学院成立于2008年，是一所男女同校的私立国际学院，目前在校学生有两千余人。办校宗旨是提供世界级水平的教育。学院位于迪拜的久美拉海滩UmmSuqueim地区，占地面积为3000余平方米，毗邻迪拜的标志性建筑——帆船酒店。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Jumeira Baccalaureate School</a></h3>
                    <p class="couple-card_text">JBS 是一所 IB 世界学校，提供所有全部四个阶段的 IB 课程。作为一所IB连续学校，JBS为从幼儿园到12年级的学生提供小学课程（PYP）、中学课程（MYP）、职业相关课程（CP）和文凭课程（DP）。</p>
                </div>
            </div>
                         <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Safa Community School</a></h3>
                    <p class="couple-card_text">萨法社区学校(SCS)是萨法英国学校（Safa British School）的姊妹学校，学校自开办以来发展迅速，现在该校有 1,900 多名学生，尤其是中学部的学生数量比往年大幅增加。在2016-17年的第一次KHDA检查中获得了Good的评级，而且已经提升到了Very Good第二高的水平。2018-19 年也保留了这个评级。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Kings School Nad Al Sheba</a></h3>
                    <p class="couple-card_text">成立于 2004 年，由三所迪拜国王学校组成，其中一所位于迪拜，另一所位于 Al Barsha（1,660 名学生）和 Nad Al Sheba（340 名学生）。Kings' School Dubai 和 Nad Al Sheba 校区是小学，而 Al Barsha 学校则是全面的。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Sunmarke School</a></h3>
                    <p class="couple-card_text">尚迈肯(Sunmarke)学校是迪拜一所优质的教育学校，成立于2016年，招收3-18岁中小学生。学校遵循英国国家课程，并且提供GCSE和A Level课程。目前已经有727名在校学生。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Emirates International Private School(BR)</a></h3>
                    <p class="couple-card_text">阿联酋国际学校 (Meadows校区 ) 于2005 年 9 月 10 日正式开办，学校现在为超过 1730 名 来自全球超过 81 个不同的国家的1 至 13 年级（3 至 18 岁）学生提供优质的国际化教育。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Safa British School</a></h3>
                    <p class="couple-card_text">Safa British School创办于2004年，是一所历史悠久的学校。它是 KHDA评级为‘very good’的 Safa community school 的姊妹学校。在新的发展阶段，Safa British School 在朱美拉地区开设新校区并预计在 2020-21 学年开设中学部。SBS（Safa British School）在2019-20年度审查中获得了KHDA的“Very Good”的评级。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Greenfield International School</a></h3>
                    <p class="couple-card_text">在Greenfield International School，我们为自己不仅仅是一所学校而感到自豪。我们是一个由儿童、年轻人、教育工作者和家庭组成的社区，他们在使 GIS 成为令人惊叹的地方方面发挥着独一无二的作用。我们知道，选择学校可能是任何家长面临的最困难的决定之一，我们很高兴能够支持和指导您走过这一旅程的每一步。</p>
                </div>
            </div>
              <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS Wellington Academy Al Khail</a></h3>
                    <p class="couple-card_text">GEMS Wellington Academy - Al Khail 在2013 年 9 月开办，是一所具有国际视野的世界一流的学校，致力于培养学生卓越的学习能力和对生活的热爱。学校基于成熟的 GEMS 惠灵顿学校学术学习模式，为孩子创造包容和创造性的学习环境，提供丰富的学习活动以及国际性的跨文化的学习机会，鼓励孩子们保持好奇心、独立思考和主动探索，培养孩子的学习热情。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Dubai British School Jumeirah Park</a></h3>
                    <p class="couple-card_text">迪拜英国学校朱美拉公园校区（DBSJP）是迪拜Taaleem集团旗下的学校之一，学校于2015年启用，DBSJP是Dubai British School的分校，此校多年评级为最优秀学校（outstanding)，DBSJP紧邻Jumeriah Park, Springs, Meadows, JLT, Emirates Hills 社区，以迅速的发展成为该社区最好的英国学校之一，学校接受来自全球各地5-18岁学生。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Hartland International School</a></h3>
                    <p class="couple-card_text">不断与时俱进的思想宗旨、强大且经验丰富的教职团队汇聚成独一无二且生机勃勃的哈特兰。我们深知成功的教育不仅仅是追逐最高的分数，所以哈特兰为孩子们提供高质量学术教育的同时也为孩子创造安全温暖的环境，同样注重孩子的心灵的发展。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">North London Collegiate School Middle East</a></h3>
                    <p class="couple-card_text">NLCS迪拜为该地区的家庭提供独特的教育服务，将丰富的传统与学术卓越和富有启发性的学科教学相结合。
学校于2017年开办，迅速发展壮大，成为一个令人兴奋且充满活力的学习场所。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">The English College Dubai </a></h3>
                    <p class="couple-card_text">欢迎 Marhaba 来到英语学院 (EC)，这是一所位于迪拜的英国课程学校。自 1992 年以来，我们一直为从基础 1 年级到 13 年级的儿童提供世界一流的教育。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Repton Al Barsha</a></h3>
                    <p class="couple-card_text">迪拜佛马克学校的母校是英国的佛马克霍尔学校（Foremarke Hall）。佛马克霍尔学校是成立于1557年莱普顿学校（Repton School）的预备学校，迪拜佛马克学校则是莱普顿学校迪拜分校（Repton School Dubai）的预备学校，成立于2013年。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Raffles International School</a></h3>
                    <p class="couple-card_text">它欢迎来自近100个不同国家的家庭来到他们的托儿所，直到13年级。最年轻的学前学习者被安置在托儿所，并根据他们的语言背景和个人发展，遵循基于“发展问题”的个性化学习路径，这是EYFS的最早阶段。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Ranches Primary School</a></h3>
                    <p class="couple-card_text">一所小学和幼儿园，有18个月至11岁（6年级）的男孩和女孩。
它们为儿童提供了专属的适龄设施，而不必与年龄较大的群体竞争，这提供了一个适合年轻学生独特发展需求的学习之旅。</p>
                </div>
            </div>
                  <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">M S B Private School</a></h3>
                    <p class="couple-card_text">MSB私立学校（迪拜）是一所包容性学校，旨在为每个学生提供最合适的年级安排，并根据其年龄、学业、社会和情感发展需求为其提供具体支持。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS New Millennium School</a></h3>
                    <p class="couple-card_text">我们始终保持高标准，外部考试成绩远高于沙迦学校的全国平均水平。

对我们来说，这不仅仅是学术上的成功，还在于培养探索、创新和解决问题的能力，以及独立表达和决策的能力。它旨在提供丰富的课外活动、社区参与计划和学校活动，以支持我们丰富的教育计划。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">JSS International School LLC</a></h3>
                    <p class="couple-card_text">我相信，信息革命之后，我们对孩子教育的责任变得更加具有挑战性。当今的需要是让我们的孩子具备批判性思维和实践技能，使他们成为21世纪全球社会的有用贡献者。
为此，教育工作者必须创新并利用信息技术提供的所有工具。甚至社交网络也必须适应并与课堂学习联系起来。许多关于亚洲移民学术成功故事的研究都停下来仔细审视一下不太依赖技术的东方教育体系。</p>
                </div>
            </div>
               <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">JSS Private School LLC</a></h3>
                    <p class="couple-card_text">学校为学生提供一个学习世界，努力培养世界公民，他们将努力使这个世界成为一个更美好的居住地。通过提供合适的氛围，学校使学生能够昂首挺胸地面对未来，对自己充满信心，学校看到学生能以积极的决心前进，所有人都将在进步的道路上留下坚实的足迹
课程的构建旨在能使儿童理解生活并发展他们的潜力，定义和追求他人福祉和感受的目标和敏感性以及对世界的知识和理解。学校的愿景和使命定义了课程的更广泛目标</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Regent International Private school</a></h3>
                    <p class="couple-card_text">RIS是迪拜最具有创新性的私立学校之一，为孩子们提供无限的机会，让他们发现和充分利用他们的潜力，并通过学术严谨，富有想象力来发展生活技能课外活动以及一系列变化，精神和体育活动。作为迪拜一所着眼于未来的国际学校，我们相信教育不仅在于获得知识和资格，而且还在于关怀、刺激和支持的环境中以好奇心和智力探究的精神进步。</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">GEMS Our Own Indian School GEMS 传统印度学校</a></h3>
                    <p class="couple-card_text">GEMS 我们自己的印度学校因高学术标准和学校内部形成的强烈社区意识而赢得了令人羡慕的声誉。卓越的标准还延伸到学校提供的课外项目，包括体育、艺术和手工艺、舞蹈和音乐。多项比赛和奖项的获奖者，在这些领域的成就都得到了正式认可。学校通过校内蔬菜和水果园整合环保活动，并参与回收和拯救地球项目，丰富了课程，受到广泛赞赏。</p>
                </div>
            </div>


<!--            <div class="th-pagination mt-60 mb-0 text-center">-->
<!--                <ul>-->
<!--                    <li><a href="blog.html">1</a></li>-->
<!--                    <li><a href="blog.html">2</a></li>-->
<!--                    <li><a href="blog.html">3</a></li>-->
<!--                    <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->


{include file="public/footer"/}
