{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.png">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Dance Classes</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Dance Classes</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Dance Classes Area
==============================-->
<section class="space">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_1.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Contemporary Dance</a></h3>
                    <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_2.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Couple Dance Class</a></h3>
                    <p class="couple-card_text">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_3.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Classical Dance Class</a></h3>
                    <p class="couple-card_text">Curabitur aliquet quam id dui posuere blandit. Pellentesque ipsum orci porta dapibus. Donec rutrum malesuada.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_4.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Kid’s Ballet</a></h3>
                    <p class="couple-card_text">Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. aliquet felis volutpat.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_5.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Couple Ballet</a></h3>
                    <p class="couple-card_text">Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Quisque velit id enim.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_6.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Classic Ballet</a></h3>
                    <p class="couple-card_text">Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id at sem.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_7.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Hip-Hop Dance</a></h3>
                    <p class="couple-card_text">Sed porttitor lectus nibh. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor tincidunt at risus.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_8.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Cardio Dance</a></h3>
                    <p class="couple-card_text">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sit amet aliquam.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="couple-card style2">
                    <div class="couple-card_img">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                    </div>
                    <h3 class="couple-card_title"><a href="single-classes.html">Break Dance</a></h3>
                    <p class="couple-card_text">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt quis ac velit lectus.</p>
                    <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                </div>
            </div>

<!--            <div class="th-pagination mt-60 mb-0 text-center">-->
<!--                <ul>-->
<!--                    <li><a href="blog.html">1</a></li>-->
<!--                    <li><a href="blog.html">2</a></li>-->
<!--                    <li><a href="blog.html">3</a></li>-->
<!--                    <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->


{include file="public/footer"/}
