{include file="public/header"/}

<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Class Schedule</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Class Schedule</li>
            </ul>
        </div>
    </div>
</div>
<div class="">
    <div class="class-schedule-area" data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/schedule.jpg">
        <table class="class-schedule-table table">
            <tr class="schedule-day">
                <td scope="col"></td>
                <td scope="col">Monday</td>
                <td scope="col">Tuesday</td>
                <td scope="col">Wednesday</td>
                <td scope="col">Thursday</td>
                <td scope="col">Friday</td>
                <td scope="col">Saturday</td>
                <td scope="col">Sunday</td>
            </tr>
            <tr>
                <th scope="row" class="time">10:00 AM</th>
                <td scope="col" class="schedule-title">Contemporary<span class="schedule-time">10:00AM - 12:00PM</span>
                </td>
                <td scope="col" class="schedule-title">Ballet<span class="schedule-time">10:00AM - 12:00PM</span></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Hip-hop<span class="schedule-time">10:00AM - 12:00PM</span></td>
                <td scope="col" class="schedule-title">classic<span class="schedule-time">10:00AM - 12:00PM</span></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Break<span class="schedule-time">10:00AM - 12:00PM</span></td>
            </tr>
            <tr>
                <th scope="row" class="time">12:00 PM</th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Jazz<span class="schedule-time">1:00AM - 2:00PM</span></td>
                <td scope="col" class="schedule-title">Modern<span class="schedule-time">1:00AM - 2:00PM</span></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Kid’s<span class="schedule-time">1:00AM - 2:00PM</span></td>
            </tr>
            <tr>
                <th scope="row" class="time">01:00 PM</th>
                <td scope="col" class="schedule-title">Tango<span class="schedule-time">1:00AM - 2:00PM</span></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Salsa<span class="schedule-time">10:00AM - 12:00PM</span></td>
                <td scope="col"></td>
            </tr>
            <tr>
                <th scope="row" class="time">02:00 PM</th>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Twerk<span class="schedule-time">2:00AM - 3:00PM</span></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Pole Dance<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col" class="schedule-title">Bachata<span class="schedule-time">04:00AM - 06:00PM</span></td>
            </tr>
            <tr>
                <th scope="row" class="time">03:00 PM</th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Ballet<span class="schedule-time">10:00AM - 12:00PM</span></td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
            <tr>
                <th scope="row" class="time">04:00 PM</th>
                <td scope="col" class="schedule-title">Hip-hop<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col" class="schedule-title">Break<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col" class="schedule-title">Salsa<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Modern<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col" class="schedule-title">classic<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col"></td>
            </tr>
            <tr>
                <th scope="row" class="time">06:00 PM</th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Pole Dance<span class="schedule-time">04:00AM - 06:00PM</span></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col" class="schedule-title">Tango<span class="schedule-time">6:00AM - 7:00PM</span></td>
                <td scope="col"></td>
            </tr>
        </table>
    </div>
    </section>
<!--==============================
Footer Area
==============================-->
{include file="public/footer"/}
