{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.png">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Single classes</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Single classes</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Dance Area
==============================-->
<section class="th-dance-wrapper dance-details space">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7">
                <div class="th-dance page-single">
                    <div class="dance-img mb-35">
                        <img src="__YUN_PUBLIC_DIR__/static/assets/img/dance/dance_details.jpg" alt="Dance Image">
                    </div>
                    <div class="dance-single-wrapper">
                        <div class="dance-single-content">
                            <h2 class="page-title">Contemporary Dance</h2>
                            <p>Proactively underwhelm just in time interfaces whereas extensible leadership skills.
                                Uniquely develop vertical paradigms and client-centered internal or "organic" source.
                                Dynamically transition end-to-end experiences rather than customer directed experiences.
                                Completely evisculate cooperative methods of empowerment.
                            </p>
                            <p>Proactively streamline real-time infomediaries whereas covalent information. Seamlessly
                                simplify resource-leveling ROI for pandemic materials.</p>
                        </div>
                        <div class="dance-info">
                            <h3 class="widget_title h5 mb-30">Class Info<span class="shape"></span></h3>
                            <p><i class="fa-solid fa-clock"></i><span class="dance-desc">Duration:</span> 1 Hours</p>
                            <p><i class="fa-solid fa-user"></i><span class="dance-desc">Students:</span> 60 Hours</p>
                            <p><i class="fa-solid fa-calendar-days"></i><span class="dance-desc">Days:</span> Monday</p>
                            <p><i class="fa-solid fa-credit-card-front"></i><span class="dance-desc">Class Price:</span>
                                $300</p>
                        </div>
                    </div>
                    <div class="page-content">
                        <h2 class="h5 mt-25">Why Is The Best?</h2>
                        <p class="mb-30">Proactively streamline real-time infomediaries whereas covalent information.
                            Seamlessly simplify resource-leveling ROI for pandemic materials. Uniquely synergize
                            proactive ROI rather than. Compellingly incentivize quality partnerships before fully.</p>
                    </div>
                    <div class="feature-tab-wrapper">
                        <div class="feature-image">
                            <img src="__YUN_PUBLIC_DIR__/static/assets/img/dance/dance_thumb.jpg" alt="">
                        </div>
                        <div class="feature-icon-list">
                            <ul>
                                <li><i class="fa-solid fa-check"></i>Makes the body slenderer and the figure more
                                    beautiful
                                </li>
                                <li><i class="fa-solid fa-check"></i>Having Slimmer Shapely Thighs and Maximum Results
                                    in Less Time
                                </li>
                                <li><i class="fa-solid fa-check"></i>Makes the skin smoother, more elastic, softer and
                                    revitalizes dry skin
                                </li>
                                <li><i class="fa-solid fa-check"></i>Cleanses the body of waste substances and repairs
                                    blood
                                </li>
                                <li><i class="fa-solid fa-check"></i>Aenean velit enim, venenatis porta mattis vitae.
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--==============================
Faq Area
==============================-->
                    <div class="overflow-hidden  mt-25">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-12">
                                    <div class="text-xl-start">
                                        <div class="title-area mb-30">
                                            <h2 class="h4">Learning Steps</h2>
                                        </div>
                                        <p class="mt-n2 mb-40">Proactively streamline real-time infomediaries whereas covalent information. Seamlessly simplify resource-leveling ROI for pandemic materials.</p>
                                    </div>
                                    <div class="accordion-area accordion" id="faqAccordion">


                                        <div class="accordion-card active">
                                            <div class="accordion-header" id="collapse-item-1">
                                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1"><span class="">01.</span> First Week Lessons</button>
                                            </div>
                                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                                <div class="accordion-body">
                                                    <p class="faq-text">Completely whiteboard functionalize process improvement before transparent model. Intrinsically morph seamless scenarios whereas.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="accordion-card ">
                                            <div class="accordion-header" id="collapse-item-2">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2"><span class="">02.</span> Second Week Lessons</button>
                                            </div>
                                            <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                                <div class="accordion-body">
                                                    <p class="faq-text">Completely whiteboard functionalize process improvement before transparent model. Intrinsically morph seamless scenarios whereas.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="accordion-card ">
                                            <div class="accordion-header" id="collapse-item-3">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3"><span class="">03.</span> Third Week Lessons</button>
                                            </div>
                                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                                <div class="accordion-body">
                                                    <p class="faq-text">Completely whiteboard functionalize process improvement before transparent model. Intrinsically morph seamless scenarios whereas.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="accordion-card ">
                                            <div class="accordion-header" id="collapse-item-4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4"><span class="">04.</span> Fourth Week Lessons</button>
                                            </div>
                                            <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                                                <div class="accordion-body">
                                                    <p class="faq-text">Completely whiteboard functionalize process improvement before transparent model. Intrinsically morph seamless scenarios whereas.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--==============================
    Related Classes
    ==============================-->
                <div class="space-extra-top">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h2 class="sec-title recent-title mt-n1">Related Classes</h2>
                        </div>
                        <div class="col-auto">
                            <div class="related-btn">
                                <div class="icon-box">
                                    <button data-slick-prev="#danceCarousel" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                                    <button data-slick-next="#danceCarousel" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row slider-shadow th-carousel" id="danceCarousel" data-slide-show="2" data-lg-slide-show="1" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1">
                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_1.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Contemporary Dance</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_2.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Couple Dance Class</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_3.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Classical Dance Class</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_4.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Kid’s Ballet</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_5.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Couple Ballet</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_6.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Classic Ballet</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_7.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Hip-Hop Dance</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_8.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Cardio Dance</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="couple-card style3">
                                <div class="couple-card_img">
                                    <img src="__YUN_PUBLIC_DIR__/static/assets/img/couple/couple_1_9.jpg" alt="couple">
                                </div>
                                <h3 class="couple-card_title"><a href="single-classes.html">Break Dance</a></h3>
                                <p class="couple-card_text">Authoritatively pursue multimedia based metrics before user-centric. Seamlessly drive flexible strategic theme.</p>
                                <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="widget widget_search   ">
                        <form class="search-form">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories  ">
                        <h3 class="widget_title">Categories<span class="shape"></span></h3>
                        <ul>
                            <li>
                                <a href="blog.html">Contemporary Dance
                                    <span>(6)</span></a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                            <li>
                                <a href="blog.html">Hip-Hop Dance
                                    <span>(6)</span> </a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                            <li>
                                <a href="blog.html">Break Dance
                                    <span>(6)</span></a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                            <li>
                                <a href="blog.html">Ballet Dance
                                    <span>(6)</span></a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                            <li>
                                <a href="blog.html">Modern Dance
                                    <span>(6)</span></a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                            <li>
                                <a href="blog.html">Pole Dance
                                    <span>(6)</span> </a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="widget  ">
                        <h3 class="widget_title">Recent Posts<span class="shape"></span></h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/recent-post-1-1.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">What to Have in Your Dance Bag</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>30 Oct, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/recent-post-1-2.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">What to Have in Your Dance Bag</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/recent-post-1-3.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">What to Have in Your Dance Bag</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>23 June, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="__YUN_PUBLIC_DIR__/static/assets/img/blog/recent-post-1-4.jpg" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">What to Have in Your Dance Bag</a></h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>23 June, 2023</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_offer  " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/bg/widget_bg_1.jpg">
                        <div class="offer-banner text-center">
                            <h5 class="banner-title text-white">Have Any Questions?</h5>
                            <p class="banner-desc text-white">Synergistically strategize vertical best practices and leading-edge best.</p>
                            <a href="contact.html" class="th-btn red-btn">Contact Us</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->

{include file="public/footer"/}
