{include file="public/header"/}
<!--==============================
Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="__YUN_PUBLIC_DIR__/static/assets/img/breadcumb/breadcumb_bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Single classes</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Single classes</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Dance Area
==============================-->
<section class="th-dance-wrapper dance-details space">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-lg-12">
                <div class="th-dance page-single">
                    <div class="dance-img mb-35" >
                        <img style="width: 100%" src="__YUN_PUBLIC_DIR__/static/assets/img/dance/dance_details.jpg" alt="Dance Image">
                    </div>
                    <div class="dance-single-wrapper">
                        <div class="">
                            <h2 class="page-title">Contemporary Dance</h2>
                            <p>Proactively underwhelm just in time interfaces whereas extensible leadership skills.
                                Uniquely develop vertical paradigms and client-centered internal or "organic" source.
                                Dynamically transition end-to-end experiences rather than customer directed experiences.
                                Completely evisculate cooperative methods of empowerment.
                            </p>
                            <p>Proactively streamline real-time infomediaries whereas covalent information. Seamlessly
                                simplify resource-leveling ROI for pandemic materials.</p>
                        </div>
                        <!--<div class="dance-info">-->
                        <!--    <h3 class="widget_title h5 mb-30">Class Info<span class="shape"></span></h3>-->
                        <!--    <p><i class="fa-solid fa-clock"></i><span class="dance-desc">Duration:</span> 1 Hours</p>-->
                        <!--    <p><i class="fa-solid fa-user"></i><span class="dance-desc">Students:</span> 60 Hours</p>-->
                        <!--    <p><i class="fa-solid fa-calendar-days"></i><span class="dance-desc">Days:</span> Monday</p>-->
                        <!--    <p><i class="fa-solid fa-credit-card-front"></i><span class="dance-desc">Class Price:</span>-->
                        <!--        $300</p>-->
                        <!--</div>-->
                    </div>
                    <!--<div class="page-content">-->
                    <!--    <h2 class="h5 mt-25">Why Is The Best?</h2>-->
                    <!--    <p class="mb-30">Proactively streamline real-time infomediaries whereas covalent information.-->
                    <!--        Seamlessly simplify resource-leveling ROI for pandemic materials. Uniquely synergize-->
                    <!--        proactive ROI rather than. Compellingly incentivize quality partnerships before fully.</p>-->
                    <!--</div>-->
                    <!--<div class="feature-tab-wrapper">-->
                    <!--    <div class="feature-image">-->
                    <!--        <img src="__YUN_PUBLIC_DIR__/static/assets/img/dance/dance_thumb.jpg" alt="">-->
                    <!--    </div>-->
                    <!--    <div class="feature-icon-list">-->
                    <!--        <ul>-->
                    <!--            <li><i class="fa-solid fa-check"></i>Makes the body slenderer and the figure more-->
                    <!--                beautiful-->
                    <!--            </li>-->
                    <!--            <li><i class="fa-solid fa-check"></i>Having Slimmer Shapely Thighs and Maximum Results-->
                    <!--                in Less Time-->
                    <!--            </li>-->
                    <!--            <li><i class="fa-solid fa-check"></i>Makes the skin smoother, more elastic, softer and-->
                    <!--                revitalizes dry skin-->
                    <!--            </li>-->
                    <!--            <li><i class="fa-solid fa-check"></i>Cleanses the body of waste substances and repairs-->
                    <!--                blood-->
                    <!--            </li>-->
                    <!--            <li><i class="fa-solid fa-check"></i>Aenean velit enim, venenatis porta mattis vitae.-->
                    <!--            </li>-->

                    <!--        </ul>-->
                    <!--    </div>-->
                    <!--</div>-->

                </div>
            </div>
            
        </div>
    </div>
</section>
<!--==============================
Footer Area
==============================-->

{include file="public/footer"/}
